@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

@-webkit-keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(211deg);
            transform: translate3d(0, 0, 0) rotate(211deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(571deg);
            transform: translate3d(0, 0, 0) rotate(571deg);
  }
}

@keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(211deg);
            transform: translate3d(0, 0, 0) rotate(211deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(571deg);
            transform: translate3d(0, 0, 0) rotate(571deg);
  }
}

.shape-container--1 {
  -webkit-animation: shape-1 31s linear infinite;
          animation: shape-1 31s linear infinite;
}

@-webkit-keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(54deg);
            transform: translate3d(0, 0, 0) rotate(54deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(414deg);
            transform: translate3d(0, 0, 0) rotate(414deg);
  }
}

@keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(54deg);
            transform: translate3d(0, 0, 0) rotate(54deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(414deg);
            transform: translate3d(0, 0, 0) rotate(414deg);
  }
}

.shape-container--2 {
  -webkit-animation: shape-2 32s linear infinite;
          animation: shape-2 32s linear infinite;
}

@-webkit-keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(145deg);
            transform: translate3d(0, 0, 0) rotate(145deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(505deg);
            transform: translate3d(0, 0, 0) rotate(505deg);
  }
}

@keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(145deg);
            transform: translate3d(0, 0, 0) rotate(145deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(505deg);
            transform: translate3d(0, 0, 0) rotate(505deg);
  }
}

.shape-container--3 {
  -webkit-animation: shape-3 34s linear infinite;
          animation: shape-3 34s linear infinite;
}

@-webkit-keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(96deg);
            transform: translate3d(0, 0, 0) rotate(96deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(456deg);
            transform: translate3d(0, 0, 0) rotate(456deg);
  }
}

@keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(96deg);
            transform: translate3d(0, 0, 0) rotate(96deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(456deg);
            transform: translate3d(0, 0, 0) rotate(456deg);
  }
}

.shape-container--4 {
  -webkit-animation: shape-4 26s linear infinite;
          animation: shape-4 26s linear infinite;
}

@-webkit-keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(338deg);
            transform: translate3d(0, 0, 0) rotate(338deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(698deg);
            transform: translate3d(0, 0, 0) rotate(698deg);
  }
}

@keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(338deg);
            transform: translate3d(0, 0, 0) rotate(338deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(698deg);
            transform: translate3d(0, 0, 0) rotate(698deg);
  }
}

.shape-container--5 {
  -webkit-animation: shape-5 32s linear infinite;
          animation: shape-5 32s linear infinite;
}

@-webkit-keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
            transform: translate3d(0, 0, 0) rotate(25deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(385deg);
            transform: translate3d(0, 0, 0) rotate(385deg);
  }
}

@keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
            transform: translate3d(0, 0, 0) rotate(25deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(385deg);
            transform: translate3d(0, 0, 0) rotate(385deg);
  }
}

.shape-container--6 {
  -webkit-animation: shape-6 26s linear infinite;
          animation: shape-6 26s linear infinite;
}

@-webkit-keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(67deg);
            transform: translate3d(0, 0, 0) rotate(67deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(427deg);
            transform: translate3d(0, 0, 0) rotate(427deg);
  }
}

@keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(67deg);
            transform: translate3d(0, 0, 0) rotate(67deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(427deg);
            transform: translate3d(0, 0, 0) rotate(427deg);
  }
}

.shape-container--7 {
  -webkit-animation: shape-7 32s linear infinite;
          animation: shape-7 32s linear infinite;
}

@-webkit-keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(6deg);
            transform: translate3d(0, 0, 0) rotate(6deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(366deg);
            transform: translate3d(0, 0, 0) rotate(366deg);
  }
}

@keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(6deg);
            transform: translate3d(0, 0, 0) rotate(6deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(366deg);
            transform: translate3d(0, 0, 0) rotate(366deg);
  }
}

.shape-container--8 {
  -webkit-animation: shape-8 27s linear infinite;
          animation: shape-8 27s linear infinite;
}

@-webkit-keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(232deg);
            transform: translate3d(0, 0, 0) rotate(232deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(592deg);
            transform: translate3d(0, 0, 0) rotate(592deg);
  }
}

@keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(232deg);
            transform: translate3d(0, 0, 0) rotate(232deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(592deg);
            transform: translate3d(0, 0, 0) rotate(592deg);
  }
}

.shape-container--9 {
  -webkit-animation: shape-9 31s linear infinite;
          animation: shape-9 31s linear infinite;
}

@-webkit-keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(278deg);
            transform: translate3d(0, 0, 0) rotate(278deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(638deg);
            transform: translate3d(0, 0, 0) rotate(638deg);
  }
}

@keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(278deg);
            transform: translate3d(0, 0, 0) rotate(278deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(638deg);
            transform: translate3d(0, 0, 0) rotate(638deg);
  }
}

.shape-container--10 {
  -webkit-animation: shape-10 34s linear infinite;
          animation: shape-10 34s linear infinite;
}

@-webkit-keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(163deg);
            transform: translate3d(0, 0, 0) rotate(163deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(523deg);
            transform: translate3d(0, 0, 0) rotate(523deg);
  }
}

@keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(163deg);
            transform: translate3d(0, 0, 0) rotate(163deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(523deg);
            transform: translate3d(0, 0, 0) rotate(523deg);
  }
}

.shape-container--11 {
  -webkit-animation: shape-11 32s linear infinite;
          animation: shape-11 32s linear infinite;
}

@-webkit-keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(178deg);
            transform: translate3d(0, 0, 0) rotate(178deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(538deg);
            transform: translate3d(0, 0, 0) rotate(538deg);
  }
}

@keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(178deg);
            transform: translate3d(0, 0, 0) rotate(178deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(538deg);
            transform: translate3d(0, 0, 0) rotate(538deg);
  }
}

.shape-container--12 {
  -webkit-animation: shape-12 31s linear infinite;
          animation: shape-12 31s linear infinite;
}

@-webkit-keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(343deg);
            transform: translate3d(0, 0, 0) rotate(343deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(703deg);
            transform: translate3d(0, 0, 0) rotate(703deg);
  }
}

@keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(343deg);
            transform: translate3d(0, 0, 0) rotate(343deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(703deg);
            transform: translate3d(0, 0, 0) rotate(703deg);
  }
}

.shape-container--13 {
  -webkit-animation: shape-13 29s linear infinite;
          animation: shape-13 29s linear infinite;
}

@-webkit-keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(52deg);
            transform: translate3d(0, 0, 0) rotate(52deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(412deg);
            transform: translate3d(0, 0, 0) rotate(412deg);
  }
}

@keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(52deg);
            transform: translate3d(0, 0, 0) rotate(52deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(412deg);
            transform: translate3d(0, 0, 0) rotate(412deg);
  }
}

.shape-container--14 {
  -webkit-animation: shape-14 31s linear infinite;
          animation: shape-14 31s linear infinite;
}

@-webkit-keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(35deg);
            transform: translate3d(0, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(395deg);
            transform: translate3d(0, 0, 0) rotate(395deg);
  }
}

@keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(35deg);
            transform: translate3d(0, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(395deg);
            transform: translate3d(0, 0, 0) rotate(395deg);
  }
}

.shape-container--15 {
  -webkit-animation: shape-15 28s linear infinite;
          animation: shape-15 28s linear infinite;
}

@-webkit-keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(222deg);
            transform: translate3d(0, 0, 0) rotate(222deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(582deg);
            transform: translate3d(0, 0, 0) rotate(582deg);
  }
}

@keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(222deg);
            transform: translate3d(0, 0, 0) rotate(222deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(582deg);
            transform: translate3d(0, 0, 0) rotate(582deg);
  }
}

.shape-container--16 {
  -webkit-animation: shape-16 29s linear infinite;
          animation: shape-16 29s linear infinite;
}

@-webkit-keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(70deg);
            transform: translate3d(0, 0, 0) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(430deg);
            transform: translate3d(0, 0, 0) rotate(430deg);
  }
}

@keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(70deg);
            transform: translate3d(0, 0, 0) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(430deg);
            transform: translate3d(0, 0, 0) rotate(430deg);
  }
}

.shape-container--17 {
  -webkit-animation: shape-17 32s linear infinite;
          animation: shape-17 32s linear infinite;
}

@-webkit-keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(42deg);
            transform: translate3d(0, 0, 0) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(402deg);
            transform: translate3d(0, 0, 0) rotate(402deg);
  }
}

@keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(42deg);
            transform: translate3d(0, 0, 0) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(402deg);
            transform: translate3d(0, 0, 0) rotate(402deg);
  }
}

.shape-container--18 {
  -webkit-animation: shape-18 32s linear infinite;
          animation: shape-18 32s linear infinite;
}

@-webkit-keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(28deg);
            transform: translate3d(0, 0, 0) rotate(28deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(388deg);
            transform: translate3d(0, 0, 0) rotate(388deg);
  }
}

@keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(28deg);
            transform: translate3d(0, 0, 0) rotate(28deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(388deg);
            transform: translate3d(0, 0, 0) rotate(388deg);
  }
}

.shape-container--19 {
  -webkit-animation: shape-19 28s linear infinite;
          animation: shape-19 28s linear infinite;
}

@-webkit-keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(335deg);
            transform: translate3d(0, 0, 0) rotate(335deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(695deg);
            transform: translate3d(0, 0, 0) rotate(695deg);
  }
}

@keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(335deg);
            transform: translate3d(0, 0, 0) rotate(335deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(695deg);
            transform: translate3d(0, 0, 0) rotate(695deg);
  }
}

.shape-container--20 {
  -webkit-animation: shape-20 34s linear infinite;
          animation: shape-20 34s linear infinite;
}

@-webkit-keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(80deg);
            transform: translate3d(0, 0, 0) rotate(80deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(440deg);
            transform: translate3d(0, 0, 0) rotate(440deg);
  }
}

@keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(80deg);
            transform: translate3d(0, 0, 0) rotate(80deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(440deg);
            transform: translate3d(0, 0, 0) rotate(440deg);
  }
}

.shape-container--21 {
  -webkit-animation: shape-21 33s linear infinite;
          animation: shape-21 33s linear infinite;
}

@-webkit-keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(273deg);
            transform: translate3d(0, 0, 0) rotate(273deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(633deg);
            transform: translate3d(0, 0, 0) rotate(633deg);
  }
}

@keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(273deg);
            transform: translate3d(0, 0, 0) rotate(273deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(633deg);
            transform: translate3d(0, 0, 0) rotate(633deg);
  }
}

.shape-container--22 {
  -webkit-animation: shape-22 29s linear infinite;
          animation: shape-22 29s linear infinite;
}

@-webkit-keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(239deg);
            transform: translate3d(0, 0, 0) rotate(239deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(599deg);
            transform: translate3d(0, 0, 0) rotate(599deg);
  }
}

@keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(239deg);
            transform: translate3d(0, 0, 0) rotate(239deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(599deg);
            transform: translate3d(0, 0, 0) rotate(599deg);
  }
}

.shape-container--23 {
  -webkit-animation: shape-23 30s linear infinite;
          animation: shape-23 30s linear infinite;
}

@-webkit-keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(68deg);
            transform: translate3d(0, 0, 0) rotate(68deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(428deg);
            transform: translate3d(0, 0, 0) rotate(428deg);
  }
}

@keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(68deg);
            transform: translate3d(0, 0, 0) rotate(68deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(428deg);
            transform: translate3d(0, 0, 0) rotate(428deg);
  }
}

.shape-container--24 {
  -webkit-animation: shape-24 30s linear infinite;
          animation: shape-24 30s linear infinite;
}

@-webkit-keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(169deg);
            transform: translate3d(0, 0, 0) rotate(169deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(529deg);
            transform: translate3d(0, 0, 0) rotate(529deg);
  }
}

@keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(169deg);
            transform: translate3d(0, 0, 0) rotate(169deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(529deg);
            transform: translate3d(0, 0, 0) rotate(529deg);
  }
}

.shape-container--25 {
  -webkit-animation: shape-25 33s linear infinite;
          animation: shape-25 33s linear infinite;
}

@-webkit-keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(296deg);
            transform: translate3d(0, 0, 0) rotate(296deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(656deg);
            transform: translate3d(0, 0, 0) rotate(656deg);
  }
}

@keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(296deg);
            transform: translate3d(0, 0, 0) rotate(296deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(656deg);
            transform: translate3d(0, 0, 0) rotate(656deg);
  }
}

.shape-container--26 {
  -webkit-animation: shape-26 32s linear infinite;
          animation: shape-26 32s linear infinite;
}

@-webkit-keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(128deg);
            transform: translate3d(0, 0, 0) rotate(128deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(488deg);
            transform: translate3d(0, 0, 0) rotate(488deg);
  }
}

@keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(128deg);
            transform: translate3d(0, 0, 0) rotate(128deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(488deg);
            transform: translate3d(0, 0, 0) rotate(488deg);
  }
}

.shape-container--27 {
  -webkit-animation: shape-27 31s linear infinite;
          animation: shape-27 31s linear infinite;
}

@-webkit-keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(261deg);
            transform: translate3d(0, 0, 0) rotate(261deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(621deg);
            transform: translate3d(0, 0, 0) rotate(621deg);
  }
}

@keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(261deg);
            transform: translate3d(0, 0, 0) rotate(261deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(621deg);
            transform: translate3d(0, 0, 0) rotate(621deg);
  }
}

.shape-container--28 {
  -webkit-animation: shape-28 31s linear infinite;
          animation: shape-28 31s linear infinite;
}

@-webkit-keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(288deg);
            transform: translate3d(0, 0, 0) rotate(288deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(648deg);
            transform: translate3d(0, 0, 0) rotate(648deg);
  }
}

@keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(288deg);
            transform: translate3d(0, 0, 0) rotate(288deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(648deg);
            transform: translate3d(0, 0, 0) rotate(648deg);
  }
}

.shape-container--29 {
  -webkit-animation: shape-29 30s linear infinite;
          animation: shape-29 30s linear infinite;
}

@-webkit-keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(15deg);
            transform: translate3d(0, 0, 0) rotate(15deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(375deg);
            transform: translate3d(0, 0, 0) rotate(375deg);
  }
}

@keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(15deg);
            transform: translate3d(0, 0, 0) rotate(15deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(375deg);
            transform: translate3d(0, 0, 0) rotate(375deg);
  }
}

.shape-container--30 {
  -webkit-animation: shape-30 31s linear infinite;
          animation: shape-30 31s linear infinite;
}

@-webkit-keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(67deg);
            transform: translate3d(0, 0, 0) rotate(67deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(427deg);
            transform: translate3d(0, 0, 0) rotate(427deg);
  }
}

@keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(67deg);
            transform: translate3d(0, 0, 0) rotate(67deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(427deg);
            transform: translate3d(0, 0, 0) rotate(427deg);
  }
}

.shape-container--31 {
  -webkit-animation: shape-31 28s linear infinite;
          animation: shape-31 28s linear infinite;
}

@-webkit-keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(21deg);
            transform: translate3d(0, 0, 0) rotate(21deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(381deg);
            transform: translate3d(0, 0, 0) rotate(381deg);
  }
}

@keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(21deg);
            transform: translate3d(0, 0, 0) rotate(21deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(381deg);
            transform: translate3d(0, 0, 0) rotate(381deg);
  }
}

.shape-container--32 {
  -webkit-animation: shape-32 32s linear infinite;
          animation: shape-32 32s linear infinite;
}

@-webkit-keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(250deg);
            transform: translate3d(0, 0, 0) rotate(250deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(610deg);
            transform: translate3d(0, 0, 0) rotate(610deg);
  }
}

@keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(250deg);
            transform: translate3d(0, 0, 0) rotate(250deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(610deg);
            transform: translate3d(0, 0, 0) rotate(610deg);
  }
}

.shape-container--33 {
  -webkit-animation: shape-33 27s linear infinite;
          animation: shape-33 27s linear infinite;
}

@-webkit-keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(264deg);
            transform: translate3d(0, 0, 0) rotate(264deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(624deg);
            transform: translate3d(0, 0, 0) rotate(624deg);
  }
}

@keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(264deg);
            transform: translate3d(0, 0, 0) rotate(264deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(624deg);
            transform: translate3d(0, 0, 0) rotate(624deg);
  }
}

.shape-container--34 {
  -webkit-animation: shape-34 27s linear infinite;
          animation: shape-34 27s linear infinite;
}

@-webkit-keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(35deg);
            transform: translate3d(0, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(395deg);
            transform: translate3d(0, 0, 0) rotate(395deg);
  }
}

@keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(35deg);
            transform: translate3d(0, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(395deg);
            transform: translate3d(0, 0, 0) rotate(395deg);
  }
}

.shape-container--35 {
  -webkit-animation: shape-35 29s linear infinite;
          animation: shape-35 29s linear infinite;
}

@-webkit-keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(119deg);
            transform: translate3d(0, 0, 0) rotate(119deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(479deg);
            transform: translate3d(0, 0, 0) rotate(479deg);
  }
}

@keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(119deg);
            transform: translate3d(0, 0, 0) rotate(119deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(479deg);
            transform: translate3d(0, 0, 0) rotate(479deg);
  }
}

.shape-container--36 {
  -webkit-animation: shape-36 27s linear infinite;
          animation: shape-36 27s linear infinite;
}

@-webkit-keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(20deg);
            transform: translate3d(0, 0, 0) rotate(20deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(380deg);
            transform: translate3d(0, 0, 0) rotate(380deg);
  }
}

@keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(20deg);
            transform: translate3d(0, 0, 0) rotate(20deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(380deg);
            transform: translate3d(0, 0, 0) rotate(380deg);
  }
}

.shape-container--37 {
  -webkit-animation: shape-37 27s linear infinite;
          animation: shape-37 27s linear infinite;
}

@-webkit-keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(274deg);
            transform: translate3d(0, 0, 0) rotate(274deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(634deg);
            transform: translate3d(0, 0, 0) rotate(634deg);
  }
}

@keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(274deg);
            transform: translate3d(0, 0, 0) rotate(274deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(634deg);
            transform: translate3d(0, 0, 0) rotate(634deg);
  }
}

.shape-container--38 {
  -webkit-animation: shape-38 27s linear infinite;
          animation: shape-38 27s linear infinite;
}

@-webkit-keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(200deg);
            transform: translate3d(0, 0, 0) rotate(200deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(560deg);
            transform: translate3d(0, 0, 0) rotate(560deg);
  }
}

@keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(200deg);
            transform: translate3d(0, 0, 0) rotate(200deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(560deg);
            transform: translate3d(0, 0, 0) rotate(560deg);
  }
}

.shape-container--39 {
  -webkit-animation: shape-39 35s linear infinite;
          animation: shape-39 35s linear infinite;
}

@-webkit-keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(96deg);
            transform: translate3d(0, 0, 0) rotate(96deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(456deg);
            transform: translate3d(0, 0, 0) rotate(456deg);
  }
}

@keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(96deg);
            transform: translate3d(0, 0, 0) rotate(96deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(456deg);
            transform: translate3d(0, 0, 0) rotate(456deg);
  }
}

.shape-container--40 {
  -webkit-animation: shape-40 35s linear infinite;
          animation: shape-40 35s linear infinite;
}

@-webkit-keyframes shape-41 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(290deg);
            transform: translate3d(0, 0, 0) rotate(290deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(650deg);
            transform: translate3d(0, 0, 0) rotate(650deg);
  }
}

@keyframes shape-41 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(290deg);
            transform: translate3d(0, 0, 0) rotate(290deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(650deg);
            transform: translate3d(0, 0, 0) rotate(650deg);
  }
}

.shape-container--41 {
  -webkit-animation: shape-41 30s linear infinite;
          animation: shape-41 30s linear infinite;
}

@-webkit-keyframes shape-42 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(147deg);
            transform: translate3d(0, 0, 0) rotate(147deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(507deg);
            transform: translate3d(0, 0, 0) rotate(507deg);
  }
}

@keyframes shape-42 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(147deg);
            transform: translate3d(0, 0, 0) rotate(147deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(507deg);
            transform: translate3d(0, 0, 0) rotate(507deg);
  }
}

.shape-container--42 {
  -webkit-animation: shape-42 30s linear infinite;
          animation: shape-42 30s linear infinite;
}

@-webkit-keyframes shape-43 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(39deg);
            transform: translate3d(0, 0, 0) rotate(39deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(399deg);
            transform: translate3d(0, 0, 0) rotate(399deg);
  }
}

@keyframes shape-43 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(39deg);
            transform: translate3d(0, 0, 0) rotate(39deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(399deg);
            transform: translate3d(0, 0, 0) rotate(399deg);
  }
}

.shape-container--43 {
  -webkit-animation: shape-43 29s linear infinite;
          animation: shape-43 29s linear infinite;
}

@-webkit-keyframes shape-44 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(42deg);
            transform: translate3d(0, 0, 0) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(402deg);
            transform: translate3d(0, 0, 0) rotate(402deg);
  }
}

@keyframes shape-44 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(42deg);
            transform: translate3d(0, 0, 0) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(402deg);
            transform: translate3d(0, 0, 0) rotate(402deg);
  }
}

.shape-container--44 {
  -webkit-animation: shape-44 32s linear infinite;
          animation: shape-44 32s linear infinite;
}

@-webkit-keyframes shape-45 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(212deg);
            transform: translate3d(0, 0, 0) rotate(212deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(572deg);
            transform: translate3d(0, 0, 0) rotate(572deg);
  }
}

@keyframes shape-45 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(212deg);
            transform: translate3d(0, 0, 0) rotate(212deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(572deg);
            transform: translate3d(0, 0, 0) rotate(572deg);
  }
}

.shape-container--45 {
  -webkit-animation: shape-45 34s linear infinite;
          animation: shape-45 34s linear infinite;
}

@-webkit-keyframes shape-46 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(355deg);
            transform: translate3d(0, 0, 0) rotate(355deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(715deg);
            transform: translate3d(0, 0, 0) rotate(715deg);
  }
}

@keyframes shape-46 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(355deg);
            transform: translate3d(0, 0, 0) rotate(355deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(715deg);
            transform: translate3d(0, 0, 0) rotate(715deg);
  }
}

.shape-container--46 {
  -webkit-animation: shape-46 32s linear infinite;
          animation: shape-46 32s linear infinite;
}

@-webkit-keyframes shape-47 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(304deg);
            transform: translate3d(0, 0, 0) rotate(304deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(664deg);
            transform: translate3d(0, 0, 0) rotate(664deg);
  }
}

@keyframes shape-47 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(304deg);
            transform: translate3d(0, 0, 0) rotate(304deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(664deg);
            transform: translate3d(0, 0, 0) rotate(664deg);
  }
}

.shape-container--47 {
  -webkit-animation: shape-47 26s linear infinite;
          animation: shape-47 26s linear infinite;
}

@-webkit-keyframes shape-48 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(283deg);
            transform: translate3d(0, 0, 0) rotate(283deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(643deg);
            transform: translate3d(0, 0, 0) rotate(643deg);
  }
}

@keyframes shape-48 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(283deg);
            transform: translate3d(0, 0, 0) rotate(283deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(643deg);
            transform: translate3d(0, 0, 0) rotate(643deg);
  }
}

.shape-container--48 {
  -webkit-animation: shape-48 29s linear infinite;
          animation: shape-48 29s linear infinite;
}

@-webkit-keyframes shape-49 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(172deg);
            transform: translate3d(0, 0, 0) rotate(172deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(532deg);
            transform: translate3d(0, 0, 0) rotate(532deg);
  }
}

@keyframes shape-49 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(172deg);
            transform: translate3d(0, 0, 0) rotate(172deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(532deg);
            transform: translate3d(0, 0, 0) rotate(532deg);
  }
}

.shape-container--49 {
  -webkit-animation: shape-49 29s linear infinite;
          animation: shape-49 29s linear infinite;
}

@-webkit-keyframes shape-50 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(163deg);
            transform: translate3d(0, 0, 0) rotate(163deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(523deg);
            transform: translate3d(0, 0, 0) rotate(523deg);
  }
}

@keyframes shape-50 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(163deg);
            transform: translate3d(0, 0, 0) rotate(163deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(523deg);
            transform: translate3d(0, 0, 0) rotate(523deg);
  }
}

.shape-container--50 {
  -webkit-animation: shape-50 29s linear infinite;
          animation: shape-50 29s linear infinite;
}

.shape {
  margin: 0 auto;
  position: relative;
}

.shape-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=background-elements.css.map */