@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

@-webkit-keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(274deg);
            transform: translate3d(0, 0, 0) rotate(274deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(634deg);
            transform: translate3d(0, 0, 0) rotate(634deg);
  }
}

@keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(274deg);
            transform: translate3d(0, 0, 0) rotate(274deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(634deg);
            transform: translate3d(0, 0, 0) rotate(634deg);
  }
}

.shape-container--1 {
  -webkit-animation: shape-1 28s linear infinite;
          animation: shape-1 28s linear infinite;
}

@-webkit-keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(195deg);
            transform: translate3d(0, 0, 0) rotate(195deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(555deg);
            transform: translate3d(0, 0, 0) rotate(555deg);
  }
}

@keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(195deg);
            transform: translate3d(0, 0, 0) rotate(195deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(555deg);
            transform: translate3d(0, 0, 0) rotate(555deg);
  }
}

.shape-container--2 {
  -webkit-animation: shape-2 28s linear infinite;
          animation: shape-2 28s linear infinite;
}

@-webkit-keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(177deg);
            transform: translate3d(0, 0, 0) rotate(177deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(537deg);
            transform: translate3d(0, 0, 0) rotate(537deg);
  }
}

@keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(177deg);
            transform: translate3d(0, 0, 0) rotate(177deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(537deg);
            transform: translate3d(0, 0, 0) rotate(537deg);
  }
}

.shape-container--3 {
  -webkit-animation: shape-3 35s linear infinite;
          animation: shape-3 35s linear infinite;
}

@-webkit-keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(176deg);
            transform: translate3d(0, 0, 0) rotate(176deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(536deg);
            transform: translate3d(0, 0, 0) rotate(536deg);
  }
}

@keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(176deg);
            transform: translate3d(0, 0, 0) rotate(176deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(536deg);
            transform: translate3d(0, 0, 0) rotate(536deg);
  }
}

.shape-container--4 {
  -webkit-animation: shape-4 26s linear infinite;
          animation: shape-4 26s linear infinite;
}

@-webkit-keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(282deg);
            transform: translate3d(0, 0, 0) rotate(282deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(642deg);
            transform: translate3d(0, 0, 0) rotate(642deg);
  }
}

@keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(282deg);
            transform: translate3d(0, 0, 0) rotate(282deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(642deg);
            transform: translate3d(0, 0, 0) rotate(642deg);
  }
}

.shape-container--5 {
  -webkit-animation: shape-5 31s linear infinite;
          animation: shape-5 31s linear infinite;
}

@-webkit-keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(310deg);
            transform: translate3d(0, 0, 0) rotate(310deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(670deg);
            transform: translate3d(0, 0, 0) rotate(670deg);
  }
}

@keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(310deg);
            transform: translate3d(0, 0, 0) rotate(310deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(670deg);
            transform: translate3d(0, 0, 0) rotate(670deg);
  }
}

.shape-container--6 {
  -webkit-animation: shape-6 32s linear infinite;
          animation: shape-6 32s linear infinite;
}

@-webkit-keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(141deg);
            transform: translate3d(0, 0, 0) rotate(141deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(501deg);
            transform: translate3d(0, 0, 0) rotate(501deg);
  }
}

@keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(141deg);
            transform: translate3d(0, 0, 0) rotate(141deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(501deg);
            transform: translate3d(0, 0, 0) rotate(501deg);
  }
}

.shape-container--7 {
  -webkit-animation: shape-7 33s linear infinite;
          animation: shape-7 33s linear infinite;
}

@-webkit-keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(332deg);
            transform: translate3d(0, 0, 0) rotate(332deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(692deg);
            transform: translate3d(0, 0, 0) rotate(692deg);
  }
}

@keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(332deg);
            transform: translate3d(0, 0, 0) rotate(332deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(692deg);
            transform: translate3d(0, 0, 0) rotate(692deg);
  }
}

.shape-container--8 {
  -webkit-animation: shape-8 29s linear infinite;
          animation: shape-8 29s linear infinite;
}

@-webkit-keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(102deg);
            transform: translate3d(0, 0, 0) rotate(102deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(462deg);
            transform: translate3d(0, 0, 0) rotate(462deg);
  }
}

@keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(102deg);
            transform: translate3d(0, 0, 0) rotate(102deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(462deg);
            transform: translate3d(0, 0, 0) rotate(462deg);
  }
}

.shape-container--9 {
  -webkit-animation: shape-9 29s linear infinite;
          animation: shape-9 29s linear infinite;
}

@-webkit-keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(341deg);
            transform: translate3d(0, 0, 0) rotate(341deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(701deg);
            transform: translate3d(0, 0, 0) rotate(701deg);
  }
}

@keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(341deg);
            transform: translate3d(0, 0, 0) rotate(341deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(701deg);
            transform: translate3d(0, 0, 0) rotate(701deg);
  }
}

.shape-container--10 {
  -webkit-animation: shape-10 33s linear infinite;
          animation: shape-10 33s linear infinite;
}

@-webkit-keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(27deg);
            transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(387deg);
            transform: translate3d(0, 0, 0) rotate(387deg);
  }
}

@keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(27deg);
            transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(387deg);
            transform: translate3d(0, 0, 0) rotate(387deg);
  }
}

.shape-container--11 {
  -webkit-animation: shape-11 28s linear infinite;
          animation: shape-11 28s linear infinite;
}

@-webkit-keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(335deg);
            transform: translate3d(0, 0, 0) rotate(335deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(695deg);
            transform: translate3d(0, 0, 0) rotate(695deg);
  }
}

@keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(335deg);
            transform: translate3d(0, 0, 0) rotate(335deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(695deg);
            transform: translate3d(0, 0, 0) rotate(695deg);
  }
}

.shape-container--12 {
  -webkit-animation: shape-12 29s linear infinite;
          animation: shape-12 29s linear infinite;
}

@-webkit-keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(94deg);
            transform: translate3d(0, 0, 0) rotate(94deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(454deg);
            transform: translate3d(0, 0, 0) rotate(454deg);
  }
}

@keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(94deg);
            transform: translate3d(0, 0, 0) rotate(94deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(454deg);
            transform: translate3d(0, 0, 0) rotate(454deg);
  }
}

.shape-container--13 {
  -webkit-animation: shape-13 27s linear infinite;
          animation: shape-13 27s linear infinite;
}

@-webkit-keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(154deg);
            transform: translate3d(0, 0, 0) rotate(154deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(514deg);
            transform: translate3d(0, 0, 0) rotate(514deg);
  }
}

@keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(154deg);
            transform: translate3d(0, 0, 0) rotate(154deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(514deg);
            transform: translate3d(0, 0, 0) rotate(514deg);
  }
}

.shape-container--14 {
  -webkit-animation: shape-14 32s linear infinite;
          animation: shape-14 32s linear infinite;
}

@-webkit-keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(79deg);
            transform: translate3d(0, 0, 0) rotate(79deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(439deg);
            transform: translate3d(0, 0, 0) rotate(439deg);
  }
}

@keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(79deg);
            transform: translate3d(0, 0, 0) rotate(79deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(439deg);
            transform: translate3d(0, 0, 0) rotate(439deg);
  }
}

.shape-container--15 {
  -webkit-animation: shape-15 34s linear infinite;
          animation: shape-15 34s linear infinite;
}

@-webkit-keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(146deg);
            transform: translate3d(0, 0, 0) rotate(146deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(506deg);
            transform: translate3d(0, 0, 0) rotate(506deg);
  }
}

@keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(146deg);
            transform: translate3d(0, 0, 0) rotate(146deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(506deg);
            transform: translate3d(0, 0, 0) rotate(506deg);
  }
}

.shape-container--16 {
  -webkit-animation: shape-16 27s linear infinite;
          animation: shape-16 27s linear infinite;
}

@-webkit-keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(320deg);
            transform: translate3d(0, 0, 0) rotate(320deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(680deg);
            transform: translate3d(0, 0, 0) rotate(680deg);
  }
}

@keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(320deg);
            transform: translate3d(0, 0, 0) rotate(320deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(680deg);
            transform: translate3d(0, 0, 0) rotate(680deg);
  }
}

.shape-container--17 {
  -webkit-animation: shape-17 26s linear infinite;
          animation: shape-17 26s linear infinite;
}

@-webkit-keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(206deg);
            transform: translate3d(0, 0, 0) rotate(206deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(566deg);
            transform: translate3d(0, 0, 0) rotate(566deg);
  }
}

@keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(206deg);
            transform: translate3d(0, 0, 0) rotate(206deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(566deg);
            transform: translate3d(0, 0, 0) rotate(566deg);
  }
}

.shape-container--18 {
  -webkit-animation: shape-18 26s linear infinite;
          animation: shape-18 26s linear infinite;
}

@-webkit-keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(7deg);
            transform: translate3d(0, 0, 0) rotate(7deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(367deg);
            transform: translate3d(0, 0, 0) rotate(367deg);
  }
}

@keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(7deg);
            transform: translate3d(0, 0, 0) rotate(7deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(367deg);
            transform: translate3d(0, 0, 0) rotate(367deg);
  }
}

.shape-container--19 {
  -webkit-animation: shape-19 34s linear infinite;
          animation: shape-19 34s linear infinite;
}

@-webkit-keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(15deg);
            transform: translate3d(0, 0, 0) rotate(15deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(375deg);
            transform: translate3d(0, 0, 0) rotate(375deg);
  }
}

@keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(15deg);
            transform: translate3d(0, 0, 0) rotate(15deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(375deg);
            transform: translate3d(0, 0, 0) rotate(375deg);
  }
}

.shape-container--20 {
  -webkit-animation: shape-20 33s linear infinite;
          animation: shape-20 33s linear infinite;
}

@-webkit-keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(190deg);
            transform: translate3d(0, 0, 0) rotate(190deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(550deg);
            transform: translate3d(0, 0, 0) rotate(550deg);
  }
}

@keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(190deg);
            transform: translate3d(0, 0, 0) rotate(190deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(550deg);
            transform: translate3d(0, 0, 0) rotate(550deg);
  }
}

.shape-container--21 {
  -webkit-animation: shape-21 33s linear infinite;
          animation: shape-21 33s linear infinite;
}

@-webkit-keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(84deg);
            transform: translate3d(0, 0, 0) rotate(84deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(444deg);
            transform: translate3d(0, 0, 0) rotate(444deg);
  }
}

@keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(84deg);
            transform: translate3d(0, 0, 0) rotate(84deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(444deg);
            transform: translate3d(0, 0, 0) rotate(444deg);
  }
}

.shape-container--22 {
  -webkit-animation: shape-22 27s linear infinite;
          animation: shape-22 27s linear infinite;
}

@-webkit-keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(245deg);
            transform: translate3d(0, 0, 0) rotate(245deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(605deg);
            transform: translate3d(0, 0, 0) rotate(605deg);
  }
}

@keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(245deg);
            transform: translate3d(0, 0, 0) rotate(245deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(605deg);
            transform: translate3d(0, 0, 0) rotate(605deg);
  }
}

.shape-container--23 {
  -webkit-animation: shape-23 35s linear infinite;
          animation: shape-23 35s linear infinite;
}

@-webkit-keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(251deg);
            transform: translate3d(0, 0, 0) rotate(251deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(611deg);
            transform: translate3d(0, 0, 0) rotate(611deg);
  }
}

@keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(251deg);
            transform: translate3d(0, 0, 0) rotate(251deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(611deg);
            transform: translate3d(0, 0, 0) rotate(611deg);
  }
}

.shape-container--24 {
  -webkit-animation: shape-24 32s linear infinite;
          animation: shape-24 32s linear infinite;
}

@-webkit-keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(74deg);
            transform: translate3d(0, 0, 0) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(434deg);
            transform: translate3d(0, 0, 0) rotate(434deg);
  }
}

@keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(74deg);
            transform: translate3d(0, 0, 0) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(434deg);
            transform: translate3d(0, 0, 0) rotate(434deg);
  }
}

.shape-container--25 {
  -webkit-animation: shape-25 28s linear infinite;
          animation: shape-25 28s linear infinite;
}

@-webkit-keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(280deg);
            transform: translate3d(0, 0, 0) rotate(280deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(640deg);
            transform: translate3d(0, 0, 0) rotate(640deg);
  }
}

@keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(280deg);
            transform: translate3d(0, 0, 0) rotate(280deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(640deg);
            transform: translate3d(0, 0, 0) rotate(640deg);
  }
}

.shape-container--26 {
  -webkit-animation: shape-26 29s linear infinite;
          animation: shape-26 29s linear infinite;
}

@-webkit-keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(52deg);
            transform: translate3d(0, 0, 0) rotate(52deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(412deg);
            transform: translate3d(0, 0, 0) rotate(412deg);
  }
}

@keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(52deg);
            transform: translate3d(0, 0, 0) rotate(52deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(412deg);
            transform: translate3d(0, 0, 0) rotate(412deg);
  }
}

.shape-container--27 {
  -webkit-animation: shape-27 30s linear infinite;
          animation: shape-27 30s linear infinite;
}

@-webkit-keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(139deg);
            transform: translate3d(0, 0, 0) rotate(139deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(499deg);
            transform: translate3d(0, 0, 0) rotate(499deg);
  }
}

@keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(139deg);
            transform: translate3d(0, 0, 0) rotate(139deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(499deg);
            transform: translate3d(0, 0, 0) rotate(499deg);
  }
}

.shape-container--28 {
  -webkit-animation: shape-28 32s linear infinite;
          animation: shape-28 32s linear infinite;
}

@-webkit-keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(323deg);
            transform: translate3d(0, 0, 0) rotate(323deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(683deg);
            transform: translate3d(0, 0, 0) rotate(683deg);
  }
}

@keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(323deg);
            transform: translate3d(0, 0, 0) rotate(323deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(683deg);
            transform: translate3d(0, 0, 0) rotate(683deg);
  }
}

.shape-container--29 {
  -webkit-animation: shape-29 30s linear infinite;
          animation: shape-29 30s linear infinite;
}

@-webkit-keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(50deg);
            transform: translate3d(0, 0, 0) rotate(50deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(410deg);
            transform: translate3d(0, 0, 0) rotate(410deg);
  }
}

@keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(50deg);
            transform: translate3d(0, 0, 0) rotate(50deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(410deg);
            transform: translate3d(0, 0, 0) rotate(410deg);
  }
}

.shape-container--30 {
  -webkit-animation: shape-30 32s linear infinite;
          animation: shape-30 32s linear infinite;
}

@-webkit-keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(139deg);
            transform: translate3d(0, 0, 0) rotate(139deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(499deg);
            transform: translate3d(0, 0, 0) rotate(499deg);
  }
}

@keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(139deg);
            transform: translate3d(0, 0, 0) rotate(139deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(499deg);
            transform: translate3d(0, 0, 0) rotate(499deg);
  }
}

.shape-container--31 {
  -webkit-animation: shape-31 32s linear infinite;
          animation: shape-31 32s linear infinite;
}

@-webkit-keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(19deg);
            transform: translate3d(0, 0, 0) rotate(19deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(379deg);
            transform: translate3d(0, 0, 0) rotate(379deg);
  }
}

@keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(19deg);
            transform: translate3d(0, 0, 0) rotate(19deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(379deg);
            transform: translate3d(0, 0, 0) rotate(379deg);
  }
}

.shape-container--32 {
  -webkit-animation: shape-32 28s linear infinite;
          animation: shape-32 28s linear infinite;
}

@-webkit-keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(137deg);
            transform: translate3d(0, 0, 0) rotate(137deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(497deg);
            transform: translate3d(0, 0, 0) rotate(497deg);
  }
}

@keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(137deg);
            transform: translate3d(0, 0, 0) rotate(137deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(497deg);
            transform: translate3d(0, 0, 0) rotate(497deg);
  }
}

.shape-container--33 {
  -webkit-animation: shape-33 31s linear infinite;
          animation: shape-33 31s linear infinite;
}

@-webkit-keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(35deg);
            transform: translate3d(0, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(395deg);
            transform: translate3d(0, 0, 0) rotate(395deg);
  }
}

@keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(35deg);
            transform: translate3d(0, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(395deg);
            transform: translate3d(0, 0, 0) rotate(395deg);
  }
}

.shape-container--34 {
  -webkit-animation: shape-34 29s linear infinite;
          animation: shape-34 29s linear infinite;
}

@-webkit-keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(228deg);
            transform: translate3d(0, 0, 0) rotate(228deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(588deg);
            transform: translate3d(0, 0, 0) rotate(588deg);
  }
}

@keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(228deg);
            transform: translate3d(0, 0, 0) rotate(228deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(588deg);
            transform: translate3d(0, 0, 0) rotate(588deg);
  }
}

.shape-container--35 {
  -webkit-animation: shape-35 32s linear infinite;
          animation: shape-35 32s linear infinite;
}

@-webkit-keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(49deg);
            transform: translate3d(0, 0, 0) rotate(49deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(409deg);
            transform: translate3d(0, 0, 0) rotate(409deg);
  }
}

@keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(49deg);
            transform: translate3d(0, 0, 0) rotate(49deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(409deg);
            transform: translate3d(0, 0, 0) rotate(409deg);
  }
}

.shape-container--36 {
  -webkit-animation: shape-36 26s linear infinite;
          animation: shape-36 26s linear infinite;
}

@-webkit-keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(117deg);
            transform: translate3d(0, 0, 0) rotate(117deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(477deg);
            transform: translate3d(0, 0, 0) rotate(477deg);
  }
}

@keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(117deg);
            transform: translate3d(0, 0, 0) rotate(117deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(477deg);
            transform: translate3d(0, 0, 0) rotate(477deg);
  }
}

.shape-container--37 {
  -webkit-animation: shape-37 26s linear infinite;
          animation: shape-37 26s linear infinite;
}

@-webkit-keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(279deg);
            transform: translate3d(0, 0, 0) rotate(279deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(639deg);
            transform: translate3d(0, 0, 0) rotate(639deg);
  }
}

@keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(279deg);
            transform: translate3d(0, 0, 0) rotate(279deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(639deg);
            transform: translate3d(0, 0, 0) rotate(639deg);
  }
}

.shape-container--38 {
  -webkit-animation: shape-38 35s linear infinite;
          animation: shape-38 35s linear infinite;
}

@-webkit-keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(77deg);
            transform: translate3d(0, 0, 0) rotate(77deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(437deg);
            transform: translate3d(0, 0, 0) rotate(437deg);
  }
}

@keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(77deg);
            transform: translate3d(0, 0, 0) rotate(77deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(437deg);
            transform: translate3d(0, 0, 0) rotate(437deg);
  }
}

.shape-container--39 {
  -webkit-animation: shape-39 28s linear infinite;
          animation: shape-39 28s linear infinite;
}

@-webkit-keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(89deg);
            transform: translate3d(0, 0, 0) rotate(89deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(449deg);
            transform: translate3d(0, 0, 0) rotate(449deg);
  }
}

@keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(89deg);
            transform: translate3d(0, 0, 0) rotate(89deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(449deg);
            transform: translate3d(0, 0, 0) rotate(449deg);
  }
}

.shape-container--40 {
  -webkit-animation: shape-40 35s linear infinite;
          animation: shape-40 35s linear infinite;
}

@-webkit-keyframes shape-41 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(322deg);
            transform: translate3d(0, 0, 0) rotate(322deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(682deg);
            transform: translate3d(0, 0, 0) rotate(682deg);
  }
}

@keyframes shape-41 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(322deg);
            transform: translate3d(0, 0, 0) rotate(322deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(682deg);
            transform: translate3d(0, 0, 0) rotate(682deg);
  }
}

.shape-container--41 {
  -webkit-animation: shape-41 33s linear infinite;
          animation: shape-41 33s linear infinite;
}

@-webkit-keyframes shape-42 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(29deg);
            transform: translate3d(0, 0, 0) rotate(29deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(389deg);
            transform: translate3d(0, 0, 0) rotate(389deg);
  }
}

@keyframes shape-42 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(29deg);
            transform: translate3d(0, 0, 0) rotate(29deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(389deg);
            transform: translate3d(0, 0, 0) rotate(389deg);
  }
}

.shape-container--42 {
  -webkit-animation: shape-42 30s linear infinite;
          animation: shape-42 30s linear infinite;
}

@-webkit-keyframes shape-43 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(198deg);
            transform: translate3d(0, 0, 0) rotate(198deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(558deg);
            transform: translate3d(0, 0, 0) rotate(558deg);
  }
}

@keyframes shape-43 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(198deg);
            transform: translate3d(0, 0, 0) rotate(198deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(558deg);
            transform: translate3d(0, 0, 0) rotate(558deg);
  }
}

.shape-container--43 {
  -webkit-animation: shape-43 33s linear infinite;
          animation: shape-43 33s linear infinite;
}

@-webkit-keyframes shape-44 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(51deg);
            transform: translate3d(0, 0, 0) rotate(51deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(411deg);
            transform: translate3d(0, 0, 0) rotate(411deg);
  }
}

@keyframes shape-44 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(51deg);
            transform: translate3d(0, 0, 0) rotate(51deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(411deg);
            transform: translate3d(0, 0, 0) rotate(411deg);
  }
}

.shape-container--44 {
  -webkit-animation: shape-44 33s linear infinite;
          animation: shape-44 33s linear infinite;
}

@-webkit-keyframes shape-45 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(288deg);
            transform: translate3d(0, 0, 0) rotate(288deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(648deg);
            transform: translate3d(0, 0, 0) rotate(648deg);
  }
}

@keyframes shape-45 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(288deg);
            transform: translate3d(0, 0, 0) rotate(288deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(648deg);
            transform: translate3d(0, 0, 0) rotate(648deg);
  }
}

.shape-container--45 {
  -webkit-animation: shape-45 33s linear infinite;
          animation: shape-45 33s linear infinite;
}

@-webkit-keyframes shape-46 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(95deg);
            transform: translate3d(0, 0, 0) rotate(95deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(455deg);
            transform: translate3d(0, 0, 0) rotate(455deg);
  }
}

@keyframes shape-46 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(95deg);
            transform: translate3d(0, 0, 0) rotate(95deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(455deg);
            transform: translate3d(0, 0, 0) rotate(455deg);
  }
}

.shape-container--46 {
  -webkit-animation: shape-46 30s linear infinite;
          animation: shape-46 30s linear infinite;
}

@-webkit-keyframes shape-47 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(30deg);
            transform: translate3d(0, 0, 0) rotate(30deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(390deg);
            transform: translate3d(0, 0, 0) rotate(390deg);
  }
}

@keyframes shape-47 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(30deg);
            transform: translate3d(0, 0, 0) rotate(30deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(390deg);
            transform: translate3d(0, 0, 0) rotate(390deg);
  }
}

.shape-container--47 {
  -webkit-animation: shape-47 26s linear infinite;
          animation: shape-47 26s linear infinite;
}

@-webkit-keyframes shape-48 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(252deg);
            transform: translate3d(0, 0, 0) rotate(252deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(612deg);
            transform: translate3d(0, 0, 0) rotate(612deg);
  }
}

@keyframes shape-48 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(252deg);
            transform: translate3d(0, 0, 0) rotate(252deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(612deg);
            transform: translate3d(0, 0, 0) rotate(612deg);
  }
}

.shape-container--48 {
  -webkit-animation: shape-48 27s linear infinite;
          animation: shape-48 27s linear infinite;
}

@-webkit-keyframes shape-49 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(264deg);
            transform: translate3d(0, 0, 0) rotate(264deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(624deg);
            transform: translate3d(0, 0, 0) rotate(624deg);
  }
}

@keyframes shape-49 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(264deg);
            transform: translate3d(0, 0, 0) rotate(264deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(624deg);
            transform: translate3d(0, 0, 0) rotate(624deg);
  }
}

.shape-container--49 {
  -webkit-animation: shape-49 28s linear infinite;
          animation: shape-49 28s linear infinite;
}

@-webkit-keyframes shape-50 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(263deg);
            transform: translate3d(0, 0, 0) rotate(263deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(623deg);
            transform: translate3d(0, 0, 0) rotate(623deg);
  }
}

@keyframes shape-50 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(263deg);
            transform: translate3d(0, 0, 0) rotate(263deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(623deg);
            transform: translate3d(0, 0, 0) rotate(623deg);
  }
}

.shape-container--50 {
  -webkit-animation: shape-50 29s linear infinite;
          animation: shape-50 29s linear infinite;
}

.shape {
  margin: 0 auto;
  position: relative;
}

.shape-background {
  background-color: #191919;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=background-elements.css.map */