@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.card {
  position: relative;
  background-color: #171717;
  margin: 20px 20px 20px 20px;
  padding: 10% 10% 10% 10%;
  border-radius: .5ch;
  opacity: .5;
  box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 25px 10px rgba(0, 0, 0, 0.75);
}

.card.1 {
  opacity: 0;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: reveal-card;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 3s;
  -moz-animation-name: reveal-card;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -ms-animation-delay: 0s;
  -ms-animation-duration: 3s;
  -ms-animation-name: reveal-card;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-name: reveal-card;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
}

.card.2 {
  opacity: 0;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: reveal-card;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 1s;
  -moz-animation-name: reveal-card;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -ms-animation-delay: 1s;
  -ms-animation-duration: 1s;
  -ms-animation-name: reveal-card;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: reveal-card;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
}

.card.3 {
  opacity: 0;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: reveal-card;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -moz-animation-delay: 2s;
  -moz-animation-duration: 1s;
  -moz-animation-name: reveal-card;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -ms-animation-delay: 2s;
  -ms-animation-duration: 1s;
  -ms-animation-name: reveal-card;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: reveal-card;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
}

.card.4 {
  opacity: 0;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: reveal-card;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -moz-animation-delay: 3s;
  -moz-animation-duration: 1s;
  -moz-animation-name: reveal-card;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -ms-animation-delay: 3s;
  -ms-animation-duration: 1s;
  -ms-animation-name: reveal-card;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-name: reveal-card;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
}

.card.5 {
  opacity: 0;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: reveal-card;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -moz-animation-delay: 4s;
  -moz-animation-duration: 1s;
  -moz-animation-name: reveal-card;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -ms-animation-delay: 4s;
  -ms-animation-duration: 1s;
  -ms-animation-name: reveal-card;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-name: reveal-card;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
}

.card input {
  margin: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  border-radius: .5ch;
}

.card input:focus {
  box-shadow: 4px 0px 25px 0px #26e9ff;
  -webkit-box-shadow: 4px 0px 25px 0px #26e9ff;
  -moz-box-shadow: 4px 0px 25px 10px #26e9ff;
}

@-webkit-keyframes reveal-card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal-card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .card {
    position: relative;
    background-color: #171717;
    margin: 20% 5% 5% 5%;
    border-radius: .5ch;
    box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0px 25px 10px rgba(0, 0, 0, 0.75);
  }
  .card input {
    position: relative;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
  }
}
/*# sourceMappingURL=card.css.map */