@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.contact {
  position: relative;
  background-color: transparent;
  float: right;
  width: 82%;
  padding: 5% 0 5% 0;
  opacity: 0;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: reveal-text;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.5s;
  -moz-animation-duration: 2s;
  -moz-animation-name: reveal-text;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.5s;
  -ms-animation-duration: 2s;
  -ms-animation-name: reveal-text;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-name: reveal-text;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
  animation-iteration-count: 1;
}

.contact .title {
  position: relative;
  font-size: 3ch;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
  color: #F0EFED;
  margin: 0  0 10% 5%;
}

.contact .card {
  position: relative;
  margin: 5% 5% 2% 5%;
}

.contact .card > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  width: 92%;
}

.contact .card > form > input {
  position: relative;
  left: 0;
  border: 2px solid #F0EFED;
  border-radius: .5ch;
  padding: 3%;
  background: transparent;
  margin: 0 0 10% 0;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  color: white;
}

.contact .card > form > input.name {
  width: 80%;
}

.contact .card > form > input.email {
  width: 80%;
}

.contact .card > form > input.subject {
  width: 50%;
}

.contact .card > form > input:focus {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: box-glow;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: box-glow;
  -moz-animation-fill-mode: none;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: box-glow;
  -ms-animation-fill-mode: none;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: box-glow;
  animation-fill-mode: none;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 20px 0px #26e9ff;
  -webkit-box-shadow: 0px 0px 20px 0px #26e9ff;
  -moz-box-shadow: 0px 0px 20px 0px #26e9ff;
  border: 2px solid #26e9ff;
}

.contact .card > form > textarea {
  position: relative;
  min-height: 200px;
  border: 2px solid white;
  border-radius: .5ch;
  padding: 3%;
  margin: 0 0 20% 0;
  background: transparent;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  color: white;
  font-weight: normal;
  resize: none;
  width: 100%;
}

.contact .card > form > textarea:focus {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: box-glow;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: box-glow;
  -moz-animation-fill-mode: none;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: box-glow;
  -ms-animation-fill-mode: none;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: box-glow;
  animation-fill-mode: none;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 20px 0px #26e9ff;
  -webkit-box-shadow: 0px 0px 20px 0px #26e9ff;
  -moz-box-shadow: 0px 0px 20px 0px #26e9ff;
  border: 2px solid #26e9ff;
}

.contact .card > form > button {
  position: relative;
  background-color: #26e9ff;
  border-radius: .5ch;
  width: 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border: 2px solid transparent;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: box-glow;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: box-glow;
  -moz-animation-fill-mode: none;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -ms-animation-delay: 0;
  -ms-animation-duration: 1s;
  -ms-animation-name: box-glow;
  -ms-animation-fill-mode: none;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: box-glow;
  animation-fill-mode: none;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 20px 0px #26e9ff;
  -webkit-box-shadow: 0px 0px 20px 0px #26e9ff;
  -moz-box-shadow: 0px 0px 20px 0px #26e9ff;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
}

.contact .card > form > button.submit {
  color: #2a2a2a;
}

.contact .card > form > button:active {
  background-color: transparent;
  color: #26e9ff;
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
}

@-webkit-keyframes box-glow {
  0% {
    box-shadow: 0px 0px 20px 0px #26e9ff;
    -webkit-box-shadow: 0px 0px 20px 0px #26e9ff;
    -moz-box-shadow: 0px 0px 20px 0px #26e9ff;
  }
  100% {
    box-shadow: 0px 0px 25px 0px #26e9ff;
    -webkit-box-shadow: 0px 0px 25px 0px #26e9ff;
    -moz-box-shadow: 0px 0px 25px 0px #26e9ff;
  }
}

@keyframes box-glow {
  0% {
    box-shadow: 0px 0px 20px 0px #26e9ff;
    -webkit-box-shadow: 0px 0px 20px 0px #26e9ff;
    -moz-box-shadow: 0px 0px 20px 0px #26e9ff;
  }
  100% {
    box-shadow: 0px 0px 25px 0px #26e9ff;
    -webkit-box-shadow: 0px 0px 25px 0px #26e9ff;
    -moz-box-shadow: 0px 0px 25px 0px #26e9ff;
  }
}
/*# sourceMappingURL=contact.css.map */