@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  z-index: 3;
  overflow: hidden;
}

.logo .letter {
  box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.dissolve {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.dissolve .logo {
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fade-logo;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.25s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fade-logo;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.25s;
  -ms-animation-duration: 1s;
  -ms-animation-name: fade-logo;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-name: fade-logo;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
  animation-iteration-count: 1;
}

@-webkit-keyframes fade-logo {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1);
    visibility: visible;
  }
  75% {
    opacity: 0.5;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translate(-50%) scale(0.25);
            transform: translate(-50%) scale(0.25);
    opacity: 0.5;
    visibility: hidden;
  }
}

@keyframes fade-logo {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1);
    visibility: visible;
  }
  75% {
    opacity: 0.5;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translate(-50%) scale(0.25);
            transform: translate(-50%) scale(0.25);
    opacity: 0.5;
    visibility: hidden;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  .logo {
    position: absolute;
    top: 35%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 80%;
    z-index: 3;
    overflow: hidden;
  }
  .logo .letter {
    box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
  }
}
/*# sourceMappingURL=landing.css.map */