@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.shape {
  margin: 0 auto;
  position: relative;
}

@-webkit-keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(189deg);
            transform: translate3d(0, 0, 0) rotate(189deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(549deg);
            transform: translate3d(0, 0, 0) rotate(549deg);
  }
}

@keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(189deg);
            transform: translate3d(0, 0, 0) rotate(189deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(549deg);
            transform: translate3d(0, 0, 0) rotate(549deg);
  }
}

.shape-container--1 {
  -webkit-animation: shape-1 104s linear infinite;
          animation: shape-1 104s linear infinite;
}

@-webkit-keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(313deg);
            transform: translate3d(0, 0, 0) rotate(313deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(673deg);
            transform: translate3d(0, 0, 0) rotate(673deg);
  }
}

@keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(313deg);
            transform: translate3d(0, 0, 0) rotate(313deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(673deg);
            transform: translate3d(0, 0, 0) rotate(673deg);
  }
}

.shape-container--2 {
  -webkit-animation: shape-2 101s linear infinite;
          animation: shape-2 101s linear infinite;
}

@-webkit-keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(221deg);
            transform: translate3d(0, 0, 0) rotate(221deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(581deg);
            transform: translate3d(0, 0, 0) rotate(581deg);
  }
}

@keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(221deg);
            transform: translate3d(0, 0, 0) rotate(221deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(581deg);
            transform: translate3d(0, 0, 0) rotate(581deg);
  }
}

.shape-container--3 {
  -webkit-animation: shape-3 109s linear infinite;
          animation: shape-3 109s linear infinite;
}

@-webkit-keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(176deg);
            transform: translate3d(0, 0, 0) rotate(176deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(536deg);
            transform: translate3d(0, 0, 0) rotate(536deg);
  }
}

@keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(176deg);
            transform: translate3d(0, 0, 0) rotate(176deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(536deg);
            transform: translate3d(0, 0, 0) rotate(536deg);
  }
}

.shape-container--4 {
  -webkit-animation: shape-4 103s linear infinite;
          animation: shape-4 103s linear infinite;
}

@-webkit-keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(46deg);
            transform: translate3d(0, 0, 0) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(406deg);
            transform: translate3d(0, 0, 0) rotate(406deg);
  }
}

@keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(46deg);
            transform: translate3d(0, 0, 0) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(406deg);
            transform: translate3d(0, 0, 0) rotate(406deg);
  }
}

.shape-container--5 {
  -webkit-animation: shape-5 105s linear infinite;
          animation: shape-5 105s linear infinite;
}

@-webkit-keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(338deg);
            transform: translate3d(0, 0, 0) rotate(338deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(698deg);
            transform: translate3d(0, 0, 0) rotate(698deg);
  }
}

@keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(338deg);
            transform: translate3d(0, 0, 0) rotate(338deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(698deg);
            transform: translate3d(0, 0, 0) rotate(698deg);
  }
}

.shape-container--6 {
  -webkit-animation: shape-6 109s linear infinite;
          animation: shape-6 109s linear infinite;
}

@-webkit-keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(225deg);
            transform: translate3d(0, 0, 0) rotate(225deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(585deg);
            transform: translate3d(0, 0, 0) rotate(585deg);
  }
}

@keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(225deg);
            transform: translate3d(0, 0, 0) rotate(225deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(585deg);
            transform: translate3d(0, 0, 0) rotate(585deg);
  }
}

.shape-container--7 {
  -webkit-animation: shape-7 102s linear infinite;
          animation: shape-7 102s linear infinite;
}

@-webkit-keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(157deg);
            transform: translate3d(0, 0, 0) rotate(157deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(517deg);
            transform: translate3d(0, 0, 0) rotate(517deg);
  }
}

@keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(157deg);
            transform: translate3d(0, 0, 0) rotate(157deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(517deg);
            transform: translate3d(0, 0, 0) rotate(517deg);
  }
}

.shape-container--8 {
  -webkit-animation: shape-8 104s linear infinite;
          animation: shape-8 104s linear infinite;
}

@-webkit-keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(217deg);
            transform: translate3d(0, 0, 0) rotate(217deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(577deg);
            transform: translate3d(0, 0, 0) rotate(577deg);
  }
}

@keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(217deg);
            transform: translate3d(0, 0, 0) rotate(217deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(577deg);
            transform: translate3d(0, 0, 0) rotate(577deg);
  }
}

.shape-container--9 {
  -webkit-animation: shape-9 102s linear infinite;
          animation: shape-9 102s linear infinite;
}

@-webkit-keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(13deg);
            transform: translate3d(0, 0, 0) rotate(13deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(373deg);
            transform: translate3d(0, 0, 0) rotate(373deg);
  }
}

@keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(13deg);
            transform: translate3d(0, 0, 0) rotate(13deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(373deg);
            transform: translate3d(0, 0, 0) rotate(373deg);
  }
}

.shape-container--10 {
  -webkit-animation: shape-10 110s linear infinite;
          animation: shape-10 110s linear infinite;
}

@-webkit-keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(141deg);
            transform: translate3d(0, 0, 0) rotate(141deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(501deg);
            transform: translate3d(0, 0, 0) rotate(501deg);
  }
}

@keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(141deg);
            transform: translate3d(0, 0, 0) rotate(141deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(501deg);
            transform: translate3d(0, 0, 0) rotate(501deg);
  }
}

.shape-container--11 {
  -webkit-animation: shape-11 110s linear infinite;
          animation: shape-11 110s linear infinite;
}

@-webkit-keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(326deg);
            transform: translate3d(0, 0, 0) rotate(326deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(686deg);
            transform: translate3d(0, 0, 0) rotate(686deg);
  }
}

@keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(326deg);
            transform: translate3d(0, 0, 0) rotate(326deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(686deg);
            transform: translate3d(0, 0, 0) rotate(686deg);
  }
}

.shape-container--12 {
  -webkit-animation: shape-12 109s linear infinite;
          animation: shape-12 109s linear infinite;
}

@-webkit-keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(114deg);
            transform: translate3d(0, 0, 0) rotate(114deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(474deg);
            transform: translate3d(0, 0, 0) rotate(474deg);
  }
}

@keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(114deg);
            transform: translate3d(0, 0, 0) rotate(114deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(474deg);
            transform: translate3d(0, 0, 0) rotate(474deg);
  }
}

.shape-container--13 {
  -webkit-animation: shape-13 109s linear infinite;
          animation: shape-13 109s linear infinite;
}

@-webkit-keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

@keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

.shape-container--14 {
  -webkit-animation: shape-14 107s linear infinite;
          animation: shape-14 107s linear infinite;
}

@-webkit-keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

@keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

.shape-container--15 {
  -webkit-animation: shape-15 110s linear infinite;
          animation: shape-15 110s linear infinite;
}

@-webkit-keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(196deg);
            transform: translate3d(0, 0, 0) rotate(196deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(556deg);
            transform: translate3d(0, 0, 0) rotate(556deg);
  }
}

@keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(196deg);
            transform: translate3d(0, 0, 0) rotate(196deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(556deg);
            transform: translate3d(0, 0, 0) rotate(556deg);
  }
}

.shape-container--16 {
  -webkit-animation: shape-16 104s linear infinite;
          animation: shape-16 104s linear infinite;
}

@-webkit-keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(33deg);
            transform: translate3d(0, 0, 0) rotate(33deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(393deg);
            transform: translate3d(0, 0, 0) rotate(393deg);
  }
}

@keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(33deg);
            transform: translate3d(0, 0, 0) rotate(33deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(393deg);
            transform: translate3d(0, 0, 0) rotate(393deg);
  }
}

.shape-container--17 {
  -webkit-animation: shape-17 107s linear infinite;
          animation: shape-17 107s linear infinite;
}

@-webkit-keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(1deg);
            transform: translate3d(0, 0, 0) rotate(1deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(361deg);
            transform: translate3d(0, 0, 0) rotate(361deg);
  }
}

@keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(1deg);
            transform: translate3d(0, 0, 0) rotate(1deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(361deg);
            transform: translate3d(0, 0, 0) rotate(361deg);
  }
}

.shape-container--18 {
  -webkit-animation: shape-18 110s linear infinite;
          animation: shape-18 110s linear infinite;
}

@-webkit-keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(320deg);
            transform: translate3d(0, 0, 0) rotate(320deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(680deg);
            transform: translate3d(0, 0, 0) rotate(680deg);
  }
}

@keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(320deg);
            transform: translate3d(0, 0, 0) rotate(320deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(680deg);
            transform: translate3d(0, 0, 0) rotate(680deg);
  }
}

.shape-container--19 {
  -webkit-animation: shape-19 106s linear infinite;
          animation: shape-19 106s linear infinite;
}

@-webkit-keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(135deg);
            transform: translate3d(0, 0, 0) rotate(135deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(495deg);
            transform: translate3d(0, 0, 0) rotate(495deg);
  }
}

@keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(135deg);
            transform: translate3d(0, 0, 0) rotate(135deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(495deg);
            transform: translate3d(0, 0, 0) rotate(495deg);
  }
}

.shape-container--20 {
  -webkit-animation: shape-20 102s linear infinite;
          animation: shape-20 102s linear infinite;
}

.overlay {
  opacity: 100%;
  z-index: 4;
  overflow: hidden;
}

.overlay .shape-background-top {
  position: absolute;
  background: transparent;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
}

.overlay .shape-background-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.overlay .logo {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.overlay .logo .letter {
  box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.dissolve {
  opacity: 100%;
  overflow: hidden;
  z-index: 4;
}

.dissolve .particles {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: fade-stars;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 3s;
  -moz-animation-name: fade-stars;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 1s;
  -ms-animation-duration: 3s;
  -ms-animation-name: fade-stars;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: fade-stars;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
}

.dissolve .logo {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fade-logo;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: fade-logo;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: fade-logo;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: fade-logo;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
}

.invisible {
  opacity: 0;
  width: 0;
}

@-webkit-keyframes fade-logo {
  0% {
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .4;
    z-index: 3;
    width: 80%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
    width: 20%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
  }
}

@keyframes fade-logo {
  0% {
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .4;
    z-index: 3;
    width: 80%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
    width: 20%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
  }
}

@-webkit-keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@media (min-width: 1200px) {
  @-webkit-keyframes shape-1 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
              transform: translate3d(0, 0, 0) rotate(360deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(720deg);
              transform: translate3d(0, 0, 0) rotate(720deg);
    }
  }
  @keyframes shape-1 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
              transform: translate3d(0, 0, 0) rotate(360deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(720deg);
              transform: translate3d(0, 0, 0) rotate(720deg);
    }
  }
  .shape-container--1 {
    -webkit-animation: shape-1 59s linear infinite;
            animation: shape-1 59s linear infinite;
  }
  .shape-container--1 .random-shape:after {
    margin: 105rem;
  }
  @-webkit-keyframes shape-2 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(129deg);
              transform: translate3d(0, 0, 0) rotate(129deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(489deg);
              transform: translate3d(0, 0, 0) rotate(489deg);
    }
  }
  @keyframes shape-2 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(129deg);
              transform: translate3d(0, 0, 0) rotate(129deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(489deg);
              transform: translate3d(0, 0, 0) rotate(489deg);
    }
  }
  .shape-container--2 {
    -webkit-animation: shape-2 60s linear infinite;
            animation: shape-2 60s linear infinite;
  }
  .shape-container--2 .random-shape:after {
    margin: 110rem;
  }
  @-webkit-keyframes shape-3 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(136deg);
              transform: translate3d(0, 0, 0) rotate(136deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(496deg);
              transform: translate3d(0, 0, 0) rotate(496deg);
    }
  }
  @keyframes shape-3 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(136deg);
              transform: translate3d(0, 0, 0) rotate(136deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(496deg);
              transform: translate3d(0, 0, 0) rotate(496deg);
    }
  }
  .shape-container--3 {
    -webkit-animation: shape-3 59s linear infinite;
            animation: shape-3 59s linear infinite;
  }
  .shape-container--3 .random-shape:after {
    margin: 103rem;
  }
  @-webkit-keyframes shape-4 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(190deg);
              transform: translate3d(0, 0, 0) rotate(190deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(550deg);
              transform: translate3d(0, 0, 0) rotate(550deg);
    }
  }
  @keyframes shape-4 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(190deg);
              transform: translate3d(0, 0, 0) rotate(190deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(550deg);
              transform: translate3d(0, 0, 0) rotate(550deg);
    }
  }
  .shape-container--4 {
    -webkit-animation: shape-4 60s linear infinite;
            animation: shape-4 60s linear infinite;
  }
  .shape-container--4 .random-shape:after {
    margin: 106rem;
  }
  @-webkit-keyframes shape-5 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(77deg);
              transform: translate3d(0, 0, 0) rotate(77deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(437deg);
              transform: translate3d(0, 0, 0) rotate(437deg);
    }
  }
  @keyframes shape-5 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(77deg);
              transform: translate3d(0, 0, 0) rotate(77deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(437deg);
              transform: translate3d(0, 0, 0) rotate(437deg);
    }
  }
  .shape-container--5 {
    -webkit-animation: shape-5 51s linear infinite;
            animation: shape-5 51s linear infinite;
  }
  .shape-container--5 .random-shape:after {
    margin: 104rem;
  }
  @-webkit-keyframes shape-6 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(146deg);
              transform: translate3d(0, 0, 0) rotate(146deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(506deg);
              transform: translate3d(0, 0, 0) rotate(506deg);
    }
  }
  @keyframes shape-6 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(146deg);
              transform: translate3d(0, 0, 0) rotate(146deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(506deg);
              transform: translate3d(0, 0, 0) rotate(506deg);
    }
  }
  .shape-container--6 {
    -webkit-animation: shape-6 60s linear infinite;
            animation: shape-6 60s linear infinite;
  }
  .shape-container--6 .random-shape:after {
    margin: 102rem;
  }
  @-webkit-keyframes shape-7 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(312deg);
              transform: translate3d(0, 0, 0) rotate(312deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(672deg);
              transform: translate3d(0, 0, 0) rotate(672deg);
    }
  }
  @keyframes shape-7 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(312deg);
              transform: translate3d(0, 0, 0) rotate(312deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(672deg);
              transform: translate3d(0, 0, 0) rotate(672deg);
    }
  }
  .shape-container--7 {
    -webkit-animation: shape-7 57s linear infinite;
            animation: shape-7 57s linear infinite;
  }
  .shape-container--7 .random-shape:after {
    margin: 107rem;
  }
  @-webkit-keyframes shape-8 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(326deg);
              transform: translate3d(0, 0, 0) rotate(326deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(686deg);
              transform: translate3d(0, 0, 0) rotate(686deg);
    }
  }
  @keyframes shape-8 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(326deg);
              transform: translate3d(0, 0, 0) rotate(326deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(686deg);
              transform: translate3d(0, 0, 0) rotate(686deg);
    }
  }
  .shape-container--8 {
    -webkit-animation: shape-8 56s linear infinite;
            animation: shape-8 56s linear infinite;
  }
  .shape-container--8 .random-shape:after {
    margin: 110rem;
  }
  @-webkit-keyframes shape-9 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(245deg);
              transform: translate3d(0, 0, 0) rotate(245deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(605deg);
              transform: translate3d(0, 0, 0) rotate(605deg);
    }
  }
  @keyframes shape-9 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(245deg);
              transform: translate3d(0, 0, 0) rotate(245deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(605deg);
              transform: translate3d(0, 0, 0) rotate(605deg);
    }
  }
  .shape-container--9 {
    -webkit-animation: shape-9 58s linear infinite;
            animation: shape-9 58s linear infinite;
  }
  .shape-container--9 .random-shape:after {
    margin: 109rem;
  }
  @-webkit-keyframes shape-10 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(270deg);
              transform: translate3d(0, 0, 0) rotate(270deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(630deg);
              transform: translate3d(0, 0, 0) rotate(630deg);
    }
  }
  @keyframes shape-10 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(270deg);
              transform: translate3d(0, 0, 0) rotate(270deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(630deg);
              transform: translate3d(0, 0, 0) rotate(630deg);
    }
  }
  .shape-container--10 {
    -webkit-animation: shape-10 51s linear infinite;
            animation: shape-10 51s linear infinite;
  }
  .shape-container--10 .random-shape:after {
    margin: 109rem;
  }
  @-webkit-keyframes shape-11 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(261deg);
              transform: translate3d(0, 0, 0) rotate(261deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(621deg);
              transform: translate3d(0, 0, 0) rotate(621deg);
    }
  }
  @keyframes shape-11 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(261deg);
              transform: translate3d(0, 0, 0) rotate(261deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(621deg);
              transform: translate3d(0, 0, 0) rotate(621deg);
    }
  }
  .shape-container--11 {
    -webkit-animation: shape-11 59s linear infinite;
            animation: shape-11 59s linear infinite;
  }
  .shape-container--11 .random-shape:after {
    margin: 107rem;
  }
  @-webkit-keyframes shape-12 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(31deg);
              transform: translate3d(0, 0, 0) rotate(31deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(391deg);
              transform: translate3d(0, 0, 0) rotate(391deg);
    }
  }
  @keyframes shape-12 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(31deg);
              transform: translate3d(0, 0, 0) rotate(31deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(391deg);
              transform: translate3d(0, 0, 0) rotate(391deg);
    }
  }
  .shape-container--12 {
    -webkit-animation: shape-12 57s linear infinite;
            animation: shape-12 57s linear infinite;
  }
  .shape-container--12 .random-shape:after {
    margin: 103rem;
  }
  @-webkit-keyframes shape-13 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(355deg);
              transform: translate3d(0, 0, 0) rotate(355deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(715deg);
              transform: translate3d(0, 0, 0) rotate(715deg);
    }
  }
  @keyframes shape-13 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(355deg);
              transform: translate3d(0, 0, 0) rotate(355deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(715deg);
              transform: translate3d(0, 0, 0) rotate(715deg);
    }
  }
  .shape-container--13 {
    -webkit-animation: shape-13 51s linear infinite;
            animation: shape-13 51s linear infinite;
  }
  .shape-container--13 .random-shape:after {
    margin: 107rem;
  }
  @-webkit-keyframes shape-14 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(327deg);
              transform: translate3d(0, 0, 0) rotate(327deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(687deg);
              transform: translate3d(0, 0, 0) rotate(687deg);
    }
  }
  @keyframes shape-14 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(327deg);
              transform: translate3d(0, 0, 0) rotate(327deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(687deg);
              transform: translate3d(0, 0, 0) rotate(687deg);
    }
  }
  .shape-container--14 {
    -webkit-animation: shape-14 56s linear infinite;
            animation: shape-14 56s linear infinite;
  }
  .shape-container--14 .random-shape:after {
    margin: 110rem;
  }
  @-webkit-keyframes shape-15 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(280deg);
              transform: translate3d(0, 0, 0) rotate(280deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(640deg);
              transform: translate3d(0, 0, 0) rotate(640deg);
    }
  }
  @keyframes shape-15 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(280deg);
              transform: translate3d(0, 0, 0) rotate(280deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(640deg);
              transform: translate3d(0, 0, 0) rotate(640deg);
    }
  }
  .shape-container--15 {
    -webkit-animation: shape-15 55s linear infinite;
            animation: shape-15 55s linear infinite;
  }
  .shape-container--15 .random-shape:after {
    margin: 105rem;
  }
  @-webkit-keyframes shape-16 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(325deg);
              transform: translate3d(0, 0, 0) rotate(325deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(685deg);
              transform: translate3d(0, 0, 0) rotate(685deg);
    }
  }
  @keyframes shape-16 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(325deg);
              transform: translate3d(0, 0, 0) rotate(325deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(685deg);
              transform: translate3d(0, 0, 0) rotate(685deg);
    }
  }
  .shape-container--16 {
    -webkit-animation: shape-16 59s linear infinite;
            animation: shape-16 59s linear infinite;
  }
  .shape-container--16 .random-shape:after {
    margin: 107rem;
  }
  @-webkit-keyframes shape-17 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(146deg);
              transform: translate3d(0, 0, 0) rotate(146deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(506deg);
              transform: translate3d(0, 0, 0) rotate(506deg);
    }
  }
  @keyframes shape-17 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(146deg);
              transform: translate3d(0, 0, 0) rotate(146deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(506deg);
              transform: translate3d(0, 0, 0) rotate(506deg);
    }
  }
  .shape-container--17 {
    -webkit-animation: shape-17 60s linear infinite;
            animation: shape-17 60s linear infinite;
  }
  .shape-container--17 .random-shape:after {
    margin: 105rem;
  }
  @-webkit-keyframes shape-18 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(322deg);
              transform: translate3d(0, 0, 0) rotate(322deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(682deg);
              transform: translate3d(0, 0, 0) rotate(682deg);
    }
  }
  @keyframes shape-18 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(322deg);
              transform: translate3d(0, 0, 0) rotate(322deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(682deg);
              transform: translate3d(0, 0, 0) rotate(682deg);
    }
  }
  .shape-container--18 {
    -webkit-animation: shape-18 58s linear infinite;
            animation: shape-18 58s linear infinite;
  }
  .shape-container--18 .random-shape:after {
    margin: 106rem;
  }
  @-webkit-keyframes shape-19 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(40deg);
              transform: translate3d(0, 0, 0) rotate(40deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(400deg);
              transform: translate3d(0, 0, 0) rotate(400deg);
    }
  }
  @keyframes shape-19 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(40deg);
              transform: translate3d(0, 0, 0) rotate(40deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(400deg);
              transform: translate3d(0, 0, 0) rotate(400deg);
    }
  }
  .shape-container--19 {
    -webkit-animation: shape-19 51s linear infinite;
            animation: shape-19 51s linear infinite;
  }
  .shape-container--19 .random-shape:after {
    margin: 109rem;
  }
  @-webkit-keyframes shape-20 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(168deg);
              transform: translate3d(0, 0, 0) rotate(168deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(528deg);
              transform: translate3d(0, 0, 0) rotate(528deg);
    }
  }
  @keyframes shape-20 {
    0% {
      -webkit-transform: translate3d(0, 0, 0) rotate(168deg);
              transform: translate3d(0, 0, 0) rotate(168deg);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(528deg);
              transform: translate3d(0, 0, 0) rotate(528deg);
    }
  }
  .shape-container--20 {
    -webkit-animation: shape-20 55s linear infinite;
            animation: shape-20 55s linear infinite;
  }
  .shape-container--20 .random-shape:after {
    margin: 103rem;
  }
}
/*# sourceMappingURL=landing.css.map */