@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

@-webkit-keyframes draw {
  0% {
    stroke-width: 1px;
  }
  100% {
    stroke-width: 4px;
    stroke-dasharray: 3500 0;
    stroke-dashoffset: 1;
  }
}

@keyframes draw {
  0% {
    stroke-width: 1px;
  }
  100% {
    stroke-width: 4px;
    stroke-dasharray: 3500 0;
    stroke-dashoffset: 1;
  }
}

.svg-wrapper {
  z-index: 4;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 82%;
}

.svg-wrapper .border {
  stroke-dasharray: 0 3500;
  stroke-dashoffset: 1;
  stroke-width: 1px;
  fill: transparent;
  stroke: #19f6e8;
  -webkit-animation-delay: 0.5;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: draw;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.5;
  -moz-animation-duration: 3s;
  -moz-animation-name: draw;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.5;
  -ms-animation-duration: 3s;
  -ms-animation-name: draw;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.5;
  animation-duration: 3s;
  animation-name: draw;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
  z-index: 3;
}

.resume {
  position: relative;
  background-color: transparent;
  float: right;
  width: 82%;
  height: 100%;
  text-align: center;
}

.resume .title {
  position: relative;
  text-align: center;
  margin-top: 10%;
  font-size: 3ch;
  color: white;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
}

.resume .tech-skills {
  position: relative;
  width: 90%;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.resume .tech-skills .card {
  position: relative;
  height: 30px;
}

.resume .tech-skills .card .circle-container {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.resume .tech-skills .card i {
  font-size: 3ch;
  color: white;
}

.resume .tech-skills .card button {
  width: 25%;
  height: 40%;
}

.resume .experience {
  position: relative;
  width: 100%;
}

.resume .experience .card .title {
  position: relative;
  text-align: center;
}

.resume .experience .card .title a {
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
  color: white;
  font-size: 3ch;
  text-decoration: none;
}

.resume .education {
  position: relative;
  width: 100%;
  height: 100vh;
}

.resume button {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: box-glow;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: box-glow;
  -moz-animation-fill-mode: none;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: box-glow;
  -ms-animation-fill-mode: none;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: box-glow;
  animation-fill-mode: none;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border: 2px solid #26e9ff;
  border-radius: .5ch;
  margin: 0 0 10px 0;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  color: white;
  font-weight: normal;
  background-color: transparent;
  box-shadow: 0px 0px 20px 1x #26e9ff;
  -webkit-box-shadow: 0px 0px 20px 1px #26e9ff;
  -moz-box-shadow: 0px 0px 20px 1px #26e9ff;
}

@media (min-width: 700px) {
  .resume {
    width: 100%;
    height: 100%;
    float: none;
  }
  .resume .tech-skills {
    width: 90%;
    height: 40%;
  }
  .resume .tech-skills .card {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 50%;
  }
  @-webkit-keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
  @keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
}

@media (min-width: 1200px) {
  .resume {
    float: none;
    width: 100%;
  }
  .resume .tech-skills {
    width: 100%;
  }
  .resume .tech-skills .card {
    width: 90%;
  }
  .resume .tech-skills .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
  }
}
/*# sourceMappingURL=resume.css.map */