@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.resume {
  position: relative;
  background-color: transparent;
  float: right;
  width: 82%;
  height: 100%;
  opacity: 0;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: reveal-text;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-name: reveal-text;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 1s;
  -ms-animation-duration: 2s;
  -ms-animation-name: reveal-text;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  -ms-animation-iteration-count: 1;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: reveal-text;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
  animation-iteration-count: 1;
}

.resume .title {
  position: relative;
  text-align: center;
  font-size: 3ch;
  color: white;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
}

.resume .card {
  padding: 5% 5% 5% 5%;
  margin: 5% 5% 2% 5%;
}

.resume .tech-skills {
  position: relative;
  opacity: 0;
}

.resume .tech-skills.card {
  margin: 5% 5% 5% 5%;
}

.resume .tech-skills > .title {
  margin-bottom: 15%;
}

.resume .tech-skills > .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 10% 0 0 0;
}

.resume .tech-skills > .skill-container.card {
  padding: 0 0 0 0;
}

.resume .tech-skills > .skill-container > .skill {
  position: relative;
  width: 40%;
}

.resume .tech-skills > .skill-container > .skill > label {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  color: white;
}

.resume .tech-skills > .skill-container > .circle-container {
  position: relative;
  width: 50%;
}

.resume .tech-skills > button {
  width: 25%;
  height: 40%;
}

.resume .experience {
  position: relative;
  opacity: 0;
}

.resume .experience.card {
  margin: 10% 5% 5% 5%;
}

.resume .experience.card .card {
  margin: 10% 0 0 0;
}

.resume .experience.card .title {
  position: relative;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
  color: white;
  font-size: 3ch;
  text-decoration: none;
  margin-bottom: 15%;
}

.resume .experience.card a {
  margin: 5% 0 5% 0;
  position: relative;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
  color: white;
  font-size: 2ch;
  text-decoration: none;
}

.resume .experience.card .description {
  position: relative;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  color: white;
}

.resume .education {
  position: relative;
  opacity: 0;
}

.resume .education.card {
  margin: 10% 5% 5% 5%;
}

.resume .education.card .card {
  margin: 10% 0 0 0;
}

.resume .education.card .title {
  position: relative;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
  color: white;
  font-size: 3ch;
  text-decoration: none;
  margin-bottom: 15%;
}

.resume .education.card a {
  position: relative;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: bold;
  color: white;
  font-size: 2ch;
  text-decoration: none;
}

.resume .education.card .card > .description {
  position: relative;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  color: white;
}

.resume .download-btn {
  position: relative;
  opacity: 0;
}

.resume .download-btn.card {
  margin: 10% 5% 5% 5%;
}

.resume .download-btn > a > button {
  position: relative;
  text-align: center;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: box-glow;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: box-glow;
  -moz-animation-fill-mode: none;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: box-glow;
  -ms-animation-fill-mode: none;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: box-glow;
  animation-fill-mode: none;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border: 2px solid #26e9ff;
  border-radius: .5ch;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  color: white;
  font-weight: normal;
  background-color: transparent;
  box-shadow: 0px 0px 20px 0px #26e9ff;
  -webkit-box-shadow: 0px 0px 20px 0px #26e9ff;
  -moz-box-shadow: 0px 0px 20px 0px #26e9ff;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 30px;
}

.resume .active {
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: reveal-card;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.25s;
  -moz-animation-duration: 3s;
  -moz-animation-name: reveal-card;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.25s;
  -ms-animation-duration: 3s;
  -ms-animation-name: reveal-card;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.25s;
  animation-duration: 3s;
  animation-name: reveal-card;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
  animation-iteration-count: 1;
}

@media (min-width: 700px) {
  .resume {
    position: relative;
    float: right;
    background-color: transparent;
    height: 100%;
    width: 82%;
  }
  .resume .tech-skills {
    width: 90%;
  }
  .resume .tech-skills .card {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  @-webkit-keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
  @keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
}

@media (min-width: 1200px) {
  .resume {
    height: 100%;
    width: 100%;
    float: none;
    overflow-y: auto;
  }
  .resume .right-container {
    position: relative;
    width: 60%;
    float: right;
  }
  .resume .tech-skills {
    position: relative;
    width: 20%;
  }
  .resume .tech-skills.card {
    padding: 5% 5% 5% 5%;
  }
  .resume .tech-skills > .title {
    margin-bottom: 10%;
  }
  .resume .tech-skills > .skill-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 5% 0 5% 0;
  }
  .resume .tech-skills > .skill-container > .skill {
    position: relative;
    width: 40%;
  }
  .resume .tech-skills > .skill-container > .skill > label {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: normal;
    color: white;
  }
  .resume .tech-skills > .skill-container > .circle-container {
    position: relative;
  }
  .resume .tech-skills > button {
    width: 25%;
    height: 40%;
  }
  .resume .experience {
    position: relative;
    opacity: 0;
    width: 70%;
  }
  .resume .experience.card {
    padding: 5% 5% 5% 5%;
  }
  .resume .experience.card .title {
    position: relative;
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: bold;
    color: white;
    font-size: 3ch;
    text-decoration: none;
    margin-bottom: 10%;
  }
  .resume .experience.card a {
    margin: 5% 0 5% 0;
    position: relative;
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: bold;
    color: white;
    font-size: 2ch;
    text-decoration: none;
  }
  .resume .experience.card .description {
    position: relative;
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: normal;
    color: white;
  }
  .resume .experience.card .card {
    padding: 5% 5% 5% 5%;
  }
  .resume .education {
    position: relative;
    opacity: 0;
  }
  .resume .education.card {
    padding: 5% 5% 5% 5%;
    margin-top: 5%;
  }
  .resume .education.card .title {
    position: relative;
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: bold;
    color: white;
    font-size: 3ch;
    text-decoration: none;
    margin-bottom: 10%;
  }
  .resume .education.card a {
    position: relative;
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: bold;
    color: white;
    font-size: 2ch;
    text-decoration: none;
  }
  .resume .education.card .card > .description {
    position: relative;
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: normal;
    color: white;
  }
  .resume .download-btn {
    opacity: 0;
  }
  .resume .download-btn > a > button {
    position: relative;
    text-align: center;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: box-glow;
    -webkit-animation-fill-mode: none;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-delay: 0;
    -moz-animation-duration: 2s;
    -moz-animation-name: box-glow;
    -moz-animation-fill-mode: none;
    -moz-animation-direction: alternate;
    -moz-animation-iteration-count: infinite;
    -ms-animation-delay: 0;
    -ms-animation-duration: 2s;
    -ms-animation-name: box-glow;
    -ms-animation-fill-mode: none;
    -ms-animation-direction: alternate;
    -ms-animation-iteration-count: infinite;
    animation-delay: 0;
    animation-duration: 2s;
    animation-name: box-glow;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border: 2px solid #26e9ff;
    border-radius: .5ch;
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: normal;
    color: white;
    font-weight: normal;
    background-color: transparent;
    box-shadow: 0px 0px 20px 0px #26e9ff;
    -webkit-box-shadow: 0px 0px 20px 0px #26e9ff;
    -moz-box-shadow: 0px 0px 20px 0px #26e9ff;
    left: 50%;
    right: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 40px;
  }
  .resume .active {
    -webkit-animation-delay: 0.25s;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: reveal-card;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 0.25s;
    -moz-animation-duration: 3s;
    -moz-animation-name: reveal-card;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -moz-animation-iteration-count: 1;
    -ms-animation-delay: 0.25s;
    -ms-animation-duration: 3s;
    -ms-animation-name: reveal-card;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    -ms-animation-iteration-count: 1;
    animation-delay: 0.25s;
    animation-duration: 3s;
    animation-name: reveal-card;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
    animation-iteration-count: 1;
  }
}
/*# sourceMappingURL=resume.css.map */