@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.overlay .sidenavbar {
  display: none;
}

.overlay .sidenavbar-overlay {
  display: none;
}

.dissolve .sidenavbar-overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 3.5s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 3.5s;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 3.5s;
  animation-duration: 1.5s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

.sidenavbar {
  position: absolute;
  left: 0;
  height: 100%;
  overflow: hidden;
  background-color: #171717;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, left bottom, from(color1), to(color2));
  background: linear-gradient(color1, color2);
  /* Standard syntax */
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.75);
}

.sidenavbar.init {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: init;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-name: init;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 1s;
  -ms-animation-duration: 2s;
  -ms-animation-name: init;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  -ms-animation-iteration-count: 1;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: init;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
  animation-iteration-count: 1;
}

.sidenavbar.open {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: open;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: open;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: open;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  -ms-animation-iteration-count: 1;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: open;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
  animation-iteration-count: 1;
}

.sidenavbar.close {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-name: close;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.75s;
  -moz-animation-name: close;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.75s;
  -ms-animation-name: close;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0;
  animation-duration: 0.75s;
  animation-name: close;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

.sidenavbar.fade {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: fade;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

@-webkit-keyframes init {
  86% {
    width: 0;
  }
  93% {
    width: 20%;
  }
  96% {
    width: 16%;
  }
  100% {
    width: 18%;
  }
}

@keyframes init {
  86% {
    width: 0;
  }
  93% {
    width: 20%;
  }
  96% {
    width: 16%;
  }
  100% {
    width: 18%;
  }
}

@-webkit-keyframes open {
  0% {
    width: 18%;
  }
  100% {
    width: 85%;
  }
}

@keyframes open {
  0% {
    width: 18%;
  }
  100% {
    width: 85%;
  }
}

@-webkit-keyframes close {
  0% {
    width: 85%;
  }
  100% {
    width: 18%;
  }
}

@keyframes close {
  0% {
    width: 85%;
  }
  100% {
    width: 18%;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.sidenavbar .contents {
  height: 100%;
  width: 100%;
}

.sidenavbar .contents.visible {
  overflow: hidden;
}

.sidenavbar .contents.visible .profile-header {
  position: relative;
  top: 2%;
  opacity: 0;
  -webkit-animation-delay: 0.15s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.15s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.15s;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.15s;
  animation-duration: 1.5s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

.sidenavbar .contents.visible .profile-info {
  position: relative;
  margin: 5% 0 5% 0;
  opacity: 0;
  height: 10%;
  visibility: hidden;
  -webkit-animation-delay: 0.15s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.15s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.15s;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.15s;
  animation-duration: 1.5s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

.sidenavbar .contents.visible .profile-info label {
  margin: 2% 0 2% 0;
}

.sidenavbar .contents.visible .nav {
  top: 3%;
  bottom: 2%;
  height: 30%;
}

.sidenavbar .contents.visible .nav .link-wrapper {
  height: 20%;
}

.sidenavbar .contents.visible .nav .link-wrapper a i {
  padding-right: 3ch;
  padding-left: 7ch;
}

.sidenavbar .contents.visible .nav .link-wrapper a label {
  opacity: 0;
  visibility: hidden;
  -webkit-animation-delay: 0.15s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.15s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.15s;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.15s;
  animation-duration: 1.5s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

.sidenavbar .contents.visible .social {
  position: absolute;
  background-color: transparent;
  width: 95%;
  height: 10%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
  margin: 10% 0 10% 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0.5s;
  -moz-animation-duration: 1s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0.5s;
  -ms-animation-duration: 1s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

.sidenavbar .contents.visible .social span {
  position: absolute;
  width: 90%;
  height: 3%;
  border-radius: 10em;
  background-color: white;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sidenavbar .contents.visible .social .github {
  position: relative;
  top: 30%;
  width: 100%;
  margin: 15%;
}

.sidenavbar .contents.visible .social .linkedin {
  position: relative;
  top: 30%;
  width: 100%;
  margin: 15%;
}

@-webkit-keyframes reveal-content {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes reveal-content {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.sidenavbar .contents.invisible {
  overflow: hidden;
}

.sidenavbar .contents.invisible .profile-header {
  position: relative;
  top: 2%;
  height: 10%;
  opacity: 1;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: close-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: close-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: close-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  -ms-animation-iteration-count: 1;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: close-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
  animation-iteration-count: 1;
}

.sidenavbar .contents.invisible .profile-info {
  position: relative;
  display: none;
}

.sidenavbar .contents.invisible .nav {
  height: 50%;
  position: relative;
  top: 20%;
  left: 0;
}

.sidenavbar .contents.invisible .nav .link-wrapper {
  height: 20%;
}

.sidenavbar .contents.invisible .nav .link-wrapper a {
  display: block;
  position: relative;
}

.sidenavbar .contents.invisible .nav .link-wrapper a i {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-right: 0;
}

.sidenavbar .contents.invisible .nav .link-wrapper a i img {
  width: 24px;
  height: 24px;
}

.sidenavbar .contents.invisible .nav .link-wrapper a label {
  opacity: 1;
  visibility: visible;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: close-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: close-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -moz-animation-iteration-count: 1;
  -ms-animation-delay: 0;
  -ms-animation-duration: 1s;
  -ms-animation-name: close-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  -ms-animation-iteration-count: 1;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: close-content;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
  animation-iteration-count: 1;
}

.sidenavbar .contents.invisible .social {
  display: none;
}

@-webkit-keyframes close-content {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes close-content {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sidenavbar .contents .profile-header {
  width: 100%;
}

.sidenavbar .contents .profile-header .photo {
  position: relative;
  width: 75%;
  border-radius: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.sidenavbar .contents .profile-info {
  position: relative;
  width: 100%;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  top: 2%;
  font-size: 1em;
  color: white;
  text-align: center;
}

.sidenavbar .contents .nav {
  position: relative;
}

.sidenavbar .contents .nav .link-wrapper {
  overflow: hidden;
  width: 100%;
  height: 20%;
}

.sidenavbar .contents .nav .link-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.sidenavbar .contents .nav .link-wrapper a i {
  opacity: 1;
}

.sidenavbar .contents .nav .link-wrapper a label {
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  font-size: 2.5ch;
  color: white;
  visibility: hidden;
  border-radius: 1ch;
  border-width: 1ch;
}

.sidenavbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 18%;
  z-index: 3;
}

.sidenavbar-overlay #hamburger-button {
  position: absolute;
  width: 28px;
  height: 20px;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
  z-index: 10;
}

.sidenavbar-overlay #hamburger-button > span {
  position: absolute;
  background: white;
  border-radius: 10em;
  height: 10%;
  /* background: #222327; */
}

.sidenavbar-overlay .close-btn > span {
  height: 10%;
}

.sidenavbar-overlay #hamburger-button > span:nth-child(1) {
  width: 95%;
  top: 10%;
  -webkit-transition: top 0.1s ease-in, width 0.1s ease 0.1s;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

.sidenavbar-overlay #hamburger-button > span:nth-child(2) {
  position: relative;
  top: 50%;
  width: 95%;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.sidenavbar-overlay #hamburger-button > span:nth-child(3) {
  width: 95%;
  top: 50%;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.sidenavbar-overlay #hamburger-button > span:nth-child(4) {
  width: 70%;
  bottom: 0;
  -webkit-transition: top 0.1s ease-in, width 0.1s ease 0.1s;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

.sidenavbar-overlay .close-btn > span:nth-child(1) {
  width: 0% !important;
  visibility: hidden !important;
}

.sidenavbar-overlay .close-btn > span:nth-child(2) {
  height: 5%;
  display: block;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sidenavbar-overlay .close-btn > span:nth-child(3) {
  height: 5%;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sidenavbar-overlay .close-btn > span:nth-child(4) {
  width: 0% !important;
  visibility: hidden !important;
}

@media (min-width: 700px) {
  .sidenavbar {
    height: 100%;
    overflow: hidden;
  }
  .sidenavbar.init {
    width: 0;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: init;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 0;
    -moz-animation-duration: 1s;
    -moz-animation-name: init;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -moz-animation-iteration-count: 1;
    -ms-animation-delay: 0;
    -ms-animation-duration: 1s;
    -ms-animation-name: init;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    -ms-animation-iteration-count: 1;
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: init;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
    animation-iteration-count: 1;
  }
  .sidenavbar.open {
    width: 8%;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: open;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: open;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -moz-animation-iteration-count: 1;
    -ms-animation-delay: 0;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: open;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    -ms-animation-iteration-count: 1;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: open;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
    animation-iteration-count: 1;
  }
  .sidenavbar.close {
    width: 85%;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-name: close;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.25s;
    -moz-animation-name: close;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -moz-animation-iteration-count: 1;
    -ms-animation-delay: 0;
    -ms-animation-duration: 0.25s;
    -ms-animation-name: close;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    -ms-animation-iteration-count: 1;
    animation-delay: 0;
    animation-duration: 0.25s;
    animation-name: close;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
    animation-iteration-count: 1;
  }
  @-webkit-keyframes init {
    75% {
      width: 0;
    }
    87% {
      width: 12%;
    }
    94% {
      width: 8%;
    }
    100% {
      width: 10%;
    }
  }
  @keyframes init {
    75% {
      width: 0;
    }
    87% {
      width: 12%;
    }
    94% {
      width: 8%;
    }
    100% {
      width: 10%;
    }
  }
  @-webkit-keyframes open {
    0% {
      width: 10%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes open {
    0% {
      width: 10%;
    }
    100% {
      width: 85%;
    }
  }
  @-webkit-keyframes close {
    0% {
      width: 85%;
    }
    100% {
      width: 10%;
    }
  }
  @keyframes close {
    0% {
      width: 85%;
    }
    100% {
      width: 10%;
    }
  }
  .sidenavbar .profile-header .photo {
    position: relative;
    width: 75%;
    border-radius: 50%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .sidenavbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 10%;
    z-index: 3;
  }
  .sidenavbar-overlay #hamburger-button {
    width: 42px;
    height: 30px;
  }
}

@media (min-width: 1200px) {
  .sidenavbar {
    display: none;
  }
  .sidenavbar-overlay {
    display: none;
  }
}
/*# sourceMappingURL=sidenavbar.css.map */