@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900");
@import url("https://fonts.googleapis.com/css?family=Karla");
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.sidenav {
  position: absolute;
  height: 100%;
  overflow: hidden;
  background-color: #171717;
  z-index: 4;
  top: 0;
  left: 0;
  width: 0;
  box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 25px 10px rgba(0, 0, 0, 0.75);
}

.sidenav.init {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: init;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: init;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: init;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: init;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
}

.sidenav.open {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: open;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-in;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: open;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-in;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: open;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-in;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: open;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
}

.sidenav.close {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-name: close;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.75s;
  -moz-animation-name: close;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.75s;
  -ms-animation-name: close;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  animation-delay: 0;
  animation-duration: 0.75s;
  animation-name: close;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.sidenav.fade {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: fade;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

@-webkit-keyframes init {
  86% {
    width: 0;
  }
  93% {
    width: 20%;
  }
  96% {
    width: 16%;
  }
  100% {
    width: 18%;
  }
}

@keyframes init {
  86% {
    width: 0;
  }
  93% {
    width: 20%;
  }
  96% {
    width: 16%;
  }
  100% {
    width: 18%;
  }
}

@-webkit-keyframes open {
  0% {
    width: 18%;
  }
  100% {
    width: 85%;
  }
}

@keyframes open {
  0% {
    width: 18%;
  }
  100% {
    width: 85%;
  }
}

@-webkit-keyframes close {
  0% {
    width: 85%;
  }
  100% {
    width: 18%;
  }
}

@keyframes close {
  0% {
    width: 85%;
  }
  100% {
    width: 18%;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

.sidenav #hamburger-button {
  display: block;
  width: 28px;
  height: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  left: 20px;
  z-index: 100;
}

.sidenav #hamburger-button > span {
  background: white;
  position: absolute;
  border-radius: 10em;
  height: 20%;
  /* background: #222327; */
  top: 0px;
}

.sidenav .close-button > span {
  position: absolute;
  border-radius: 10em;
  height: 20%;
  /* background: #222327; */
  top: 0px;
}

.sidenav #hamburger-button > span:nth-child(1) {
  width: 95%;
  height: 20%;
  top: 0;
  -webkit-transition: top 0.1s ease-in, width 0.1s ease 0.1s;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

.sidenav #hamburger-button > span:nth-child(2) {
  visibility: hidden;
  top: 50%;
  width: 95%;
  height: 20%;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.sidenav #hamburger-button > span:nth-child(3) {
  width: 95%;
  height: 20%;
  top: 50%;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.sidenav #hamburger-button > span:nth-child(4) {
  width: 70%;
  top: 100%;
  -webkit-transition: top 0.1s ease-in, width 0.1s ease 0.1s;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

.sidenav .close-button > span:nth-child(1) {
  width: 0% !important;
}

.sidenav .close-button > span:nth-child(2) {
  visibility: visible !important;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.sidenav .close-button > span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sidenav .close-button > span:nth-child(4) {
  width: 0% !important;
}

.sidenav .contents {
  height: 100%;
  width: 100%;
}

.sidenav .contents.visible {
  overflow: hidden;
}

.sidenav .contents.visible .profile-header {
  opacity: 0;
  -webkit-animation-delay: 0.15s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -moz-animation-delay: 0.15s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -ms-animation-delay: 0.15s;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  animation-delay: 0.15s;
  animation-duration: 1.5s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.sidenav .contents.visible .profile-info {
  position: relative;
  height: 10%;
  opacity: 0;
  -webkit-animation-delay: 0.15s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -moz-animation-delay: 0.15s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -ms-animation-delay: 0.15s;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  animation-delay: 0.15s;
  animation-duration: 1.5s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.sidenav .contents.visible .nav {
  top: 5%;
}

.sidenav .contents.visible .nav .link-wrapper a i {
  padding-right: 3ch;
  padding-left: 8ch;
}

.sidenav .contents.visible .nav .link-wrapper a label {
  opacity: 0;
  visibility: hidden;
  -webkit-animation-delay: 0.15s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: reveal-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -moz-animation-delay: 0.15s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: reveal-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -ms-animation-delay: 0.15s;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: reveal-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  animation-delay: 0.15s;
  animation-duration: 1.5s;
  animation-name: reveal-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

@-webkit-keyframes reveal-content {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes reveal-content {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.sidenav .contents.invisible {
  overflow: hidden;
}

.sidenav .contents.invisible .profile-header {
  opacity: 1;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: close-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: close-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -ms-animation-delay: 0;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: close-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: close-content;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.sidenav .contents.invisible .profile-info {
  position: relative;
  height: 10%;
  opacity: 0;
  visibility: hidden;
}

.sidenav .contents.invisible .nav {
  position: relative;
  top: 20%;
  left: 0;
}

.sidenav .contents.invisible .nav .link-wrapper a {
  position: relative;
}

.sidenav .contents.invisible .nav .link-wrapper a i {
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-right: 0;
}

.sidenav .contents.invisible .nav .link-wrapper a label {
  opacity: 1;
  visibility: visible;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: close-content;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: close-content;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 1s;
  -ms-animation-name: close-content;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: close-content;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
}

@-webkit-keyframes close-content {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes close-content {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sidenav .contents .profile-header {
  width: 100%;
}

.sidenav .contents .profile-header .photo {
  position: relative;
  width: 80%;
  border-radius: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.sidenav .contents .profile-info {
  position: relative;
  width: 100%;
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  top: 2%;
  font-size: 1em;
  color: white;
  text-align: center;
}

.sidenav .contents .nav {
  position: relative;
}

.sidenav .contents .nav .link-wrapper {
  overflow: hidden;
  width: 100%;
  height: 35px;
}

.sidenav .contents .nav .link-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  vertical-align: 50%;
}

.sidenav .contents .nav .link-wrapper a label {
  font-family: 'Asap', 'Sans Serif';
  color: white;
  font-weight: normal;
  font-size: 2.5ch;
  color: white;
  visibility: hidden;
  border-radius: 1ch;
  border-width: 1ch;
}

.sidenav .contents .social {
  position: relative;
  width: 100%;
  height: 10%;
  visibility: hidden;
  bottom: 0;
}

.sidenav .contents .social span {
  width: 90%;
  background-color: grey;
}

.sidenav .contents .social .github {
  position: relative;
  left: 2%;
  width: 35%;
}

.sidenav .contents .social .linkedin {
  position: relative;
  float: right;
  width: 40%;
}

@media (min-width: 700px) {
  .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: #171717;
    width: 0;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  }
  .sidenav.init {
    width: 0;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: init;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -moz-animation-delay: 0;
    -moz-animation-duration: 1s;
    -moz-animation-name: init;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -ms-animation-delay: 0;
    -ms-animation-duration: 1s;
    -ms-animation-name: init;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: init;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
  }
  .sidenav.open {
    width: 8%;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: open;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: open;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -ms-animation-delay: 0;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: open;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: open;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
  }
  .sidenav.close {
    width: 85%;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-name: close;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.25s;
    -moz-animation-name: close;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -ms-animation-delay: 0;
    -ms-animation-duration: 0.25s;
    -ms-animation-name: close;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    animation-delay: 0;
    animation-duration: 0.25s;
    animation-name: close;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
  }
  @-webkit-keyframes init {
    75% {
      width: 0;
    }
    87% {
      width: 12%;
    }
    94% {
      width: 8%;
    }
    100% {
      width: 10%;
    }
  }
  @keyframes init {
    75% {
      width: 0;
    }
    87% {
      width: 12%;
    }
    94% {
      width: 8%;
    }
    100% {
      width: 10%;
    }
  }
  @-webkit-keyframes open {
    0% {
      width: 10%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes open {
    0% {
      width: 10%;
    }
    100% {
      width: 85%;
    }
  }
  @-webkit-keyframes close {
    0% {
      width: 85%;
    }
    100% {
      width: 10%;
    }
  }
  @keyframes close {
    0% {
      width: 85%;
    }
    100% {
      width: 10%;
    }
  }
  .sidenav #hamburger-button {
    position: -webkit-sticky;
    position: sticky;
    width: 35px;
    height: 25px;
    left: 25px;
    z-index: 100;
  }
  .sidenav #hamburger-button > span {
    background: white;
    position: absolute;
    border-radius: 10em;
    height: 20%;
    /* background: #222327; */
    top: 0px;
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .sidenav #hamburger-button > span:nth-child(1) {
    width: 100%;
    height: 20%;
    top: 0;
    -webkit-transition: top 0.1s ease-in, width 0.1s ease 0.1s;
    transition: top 0.1s ease-in, width 0.1s ease 0.1s;
  }
  .sidenav #hamburger-button > span:nth-child(2) {
    top: 50%;
    width: 95%;
    height: 20%;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .sidenav #hamburger-button > span:nth-child(3) {
    width: 95%;
    height: 20%;
    top: 50%;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .sidenav #hamburger-button > span:nth-child(4) {
    width: 70%;
    top: 100%;
    -webkit-transition: top 0.1s ease-in, width 0.1s ease 0.1s;
    transition: top 0.1s ease-in, width 0.1s ease 0.1s;
  }
  .sidenav .close-button > span {
    position: absolute;
    border-radius: 10em;
    height: 20%;
    /* background: #222327; */
    top: 0px;
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .sidenav .close-button > span:nth-child(1) {
    width: 0% !important;
  }
  .sidenav .close-button > span:nth-child(2) {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: 4px -6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px -6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px -6px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .sidenav .close-button > span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .sidenav .close-button > span:nth-child(4) {
    width: 0% !important;
  }
  .sidenav .profile-header {
    width: 100%;
    height: 50%;
  }
  .sidenav .profile-header .photo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 35%;
    border-radius: 50%;
  }
  .sidenav .profile-header .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    height: 100%;
  }
  .sidenav .profile-header .social .github {
    width: 40%;
  }
  .sidenav .profile-header .social .linkedin {
    width: 25%;
  }
  .sidenav .profile-info {
    height: 50%;
  }
  .sidenav .profile-info .link {
    font-size: 24pt;
    position: relative;
    display: block;
    color: white;
    width: 100%;
    background: #005EFF;
    font-family: 'Asap', sans-serif;
  }
  .fade {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fade;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: ease-in;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: fade;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: ease-in;
    -ms-animation-delay: 0;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: fade;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: ease-in;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-direction: ease-in;
  }
  @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: .75;
    }
    50% {
      opacity: .5;
    }
    75% {
      opacity: .25;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: .75;
    }
    50% {
      opacity: .5;
    }
    75% {
      opacity: .25;
    }
    100% {
      opacity: 0;
    }
  }
}
/*# sourceMappingURL=sidenav.css.map */