@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 100%;
  z-index: 4;
}

.overlay .landing {
  background-color: #191919;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  overflow: hidden;
}

.overlay .logo {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay .logo .letter {
  box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.dissolve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 100%;
  z-index: 4;
}

.dissolve .landing {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: fade-stars;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 3s;
  -moz-animation-name: fade-stars;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 3s;
  -ms-animation-name: fade-stars;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 3s;
  animation-name: fade-stars;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
}

.dissolve .logo {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fade-logo;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: fade-logo;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: fade-logo;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: fade-logo;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
  position: absolute;
  top: 60%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.invisible {
  opacity: 0;
  width: 0;
}

@-webkit-keyframes fade-logo {
  0% {
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .4;
    z-index: 3;
    width: 80%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
    width: 20%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
  }
}

@keyframes fade-logo {
  0% {
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .4;
    z-index: 3;
    width: 80%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
    width: 20%;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
  }
}

@-webkit-keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}
/*# sourceMappingURL=landing.css.map */