.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 100%;
  z-index: 4;
}

.dissolve.landing {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: fade-stars;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 3s;
  -moz-animation-name: fade-stars;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 3s;
  -ms-animation-name: fade-stars;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 3s;
  animation-name: fade-stars;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
  background-color: #191919;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dissolve.logo {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fade-logo;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: fade-logo;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: fade-logo;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: fade-logo;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
  width: 80%;
  left: 50%;
  right: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.landing {
  position: relative;
  background-color: #191919;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  position: relative;
  width: 80%;
  left: 50%;
  right: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.invisible {
  opacity: 0;
  width: 0;
}

@-webkit-keyframes fade-logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.0;
    visibility: none;
  }
}

@keyframes fade-logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.0;
    visibility: none;
  }
}

@-webkit-keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0;
    visibility: none;
  }
}

@keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0;
    visibility: none;
  }
}
/*# sourceMappingURL=landing.css.map */