.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 100%;
  z-index: 4;
}

.overlay .landing {
  background-color: #191919;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  overflow: hidden;
}

.overlay .logo {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: bounce;
  -webkit-animation-fill-mode: infinite;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: bounce;
  -moz-animation-fill-mode: infinite;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 1.5s;
  -ms-animation-name: bounce;
  -ms-animation-fill-mode: infinite;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 1.5s;
  animation-name: bounce;
  animation-fill-mode: infinite;
  animation-direction: ease-out;
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.dissolve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 100%;
  z-index: 4;
}

.dissolve .landing {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: fade-stars;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 3s;
  -moz-animation-name: fade-stars;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 3s;
  -ms-animation-name: fade-stars;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 3s;
  animation-name: fade-stars;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
}

.dissolve .logo {
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fade-logo;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: fade-logo;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: ease-out;
  -ms-animation-delay: 0;
  -ms-animation-duration: 2s;
  -ms-animation-name: fade-logo;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: ease-out;
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: fade-logo;
  animation-fill-mode: forwards;
  animation-direction: ease-out;
}

.invisible {
  opacity: 0;
  width: 0;
}

@-webkit-keyframes fade-logo {
  0% {
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .4;
    z-index: 3;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
  }
}

@keyframes fade-logo {
  0% {
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .4;
    z-index: 3;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    visibility: none;
    top: 40%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
  }
}

@-webkit-keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0;
    visibility: none;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    33% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    66% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    33% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    66% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
  }
}

@keyframes fade-stars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0;
    visibility: none;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    33% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    66% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    33% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    66% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
  }
}
/*# sourceMappingURL=landing.css.map */