@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.svg-wrapper {
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.border {
  position: absolute;
  stroke-dasharray: 0 3500;
  stroke-dashoffset: 1;
  stroke-width: 1px;
  fill: transparent;
  stroke: #19f6e8;
  -webkit-animation-delay: 0.5;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: draw;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: linear;
  -moz-animation-delay: 0.5;
  -moz-animation-duration: 3s;
  -moz-animation-name: draw;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: linear;
  -ms-animation-delay: 0.5;
  -ms-animation-duration: 3s;
  -ms-animation-name: draw;
  -ms-animation-fill-mode: forwards;
  -ms-animation-direction: linear;
  animation-delay: 0.5;
  animation-duration: 3s;
  animation-name: draw;
  animation-fill-mode: forwards;
  animation-direction: linear;
  z-index: 3;
}

@-webkit-keyframes draw {
  0% {
    stroke-width: 1px;
  }
  100% {
    stroke-width: 4px;
    stroke-dasharray: 3500 0;
    stroke-dashoffset: 1;
  }
}

@keyframes draw {
  0% {
    stroke-width: 1px;
  }
  100% {
    stroke-width: 4px;
    stroke-dasharray: 3500 0;
    stroke-dashoffset: 1;
  }
}

.resume {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.resume rect {
  padding: 5 em;
}

.resume .header {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 50px;
  width: 90%;
  background: #005EFF;
}

.resume .objective {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  background: #4B24ED;
}

.resume .tech-skills {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 82%;
  left: 18%;
}

.resume .experience {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  background: #FB7525;
}

.resume .education {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  background: #13FF5C;
}

.resume .divider {
  width: 100%;
  height: 10px;
}

.resume .divider .top {
  top: 0;
  height: 50%;
  width: 100%;
  background-color: black;
}

.resume .divider .bottom {
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: white;
}

@media (min-width: 700px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .svg-wrapper {
    top: 60%;
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .shape {
    stroke-dasharray: 0 3500;
    stroke-dashoffset: 1;
    stroke-width: 1px;
    fill: transparent;
    stroke: #19f6e8;
    -webkit-animation-delay: 0.5;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: draw;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: linear;
    -moz-animation-delay: 0.5;
    -moz-animation-duration: 3s;
    -moz-animation-name: draw;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: linear;
    -ms-animation-delay: 0.5;
    -ms-animation-duration: 3s;
    -ms-animation-name: draw;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: linear;
    animation-delay: 0.5;
    animation-duration: 3s;
    animation-name: draw;
    animation-fill-mode: forwards;
    animation-direction: linear;
  }
  @-webkit-keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
  @keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
}

@media (min-width: 1200px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .svg-wrapper {
    top: 60%;
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .shape {
    stroke-dasharray: 0 3500;
    stroke-dashoffset: 1;
    stroke-width: 1px;
    fill: transparent;
    stroke: #19f6e8;
    z-index: 3;
    -webkit-animation-delay: 0.5;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: draw;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: linear;
    -moz-animation-delay: 0.5;
    -moz-animation-duration: 3s;
    -moz-animation-name: draw;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: linear;
    -ms-animation-delay: 0.5;
    -ms-animation-duration: 3s;
    -ms-animation-name: draw;
    -ms-animation-fill-mode: forwards;
    -ms-animation-direction: linear;
    animation-delay: 0.5;
    animation-duration: 3s;
    animation-name: draw;
    animation-fill-mode: forwards;
    animation-direction: linear;
  }
  @-webkit-keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
  @keyframes draw {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
}
/*# sourceMappingURL=resume.css.map */