
@import 'variables';
@import 'mixins';


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .page-header {
        width: 90%;
    }
    .item-header {
        align-self: flex-end;
        background-color: $blue3;
        height: 60px;
        width: 80%;
        border-radius: 30px 0px 0px 30px;

        -webkit-mask-image: linear-gradient(to left, transparent 50%, $blue3 75%);
        mask-image: linear-gradient(to left, transparent 50%, $blue3 75%);
    }
}