
@import 'variables';
@import 'mixins';



.about {
  position: relative;
  background-color: transparent;
  width: 100%;
  float: none;
  padding: 2% 0 2% 0;
  color: white;
  text-decoration: none;
  text-align: center;
  align-content: center;
  a {
    text-decoration: none;
  }

  .about-title {
    position: relative;
    @include asap-bold();
    color: white;
    font-size: 3ch;
  }
  .content {
    display: flex;
    flex-flow: row nowrap;

    .card {
      position: relative;
      padding: 2% 2% 2% 2%;

      &.profile-header {
        position: relative;
        width: 40%;
        margin: 2% 1% 2% 2%;

        .photo {
          border-radius: 50%;
          width: 60%;
          padding: 1% 1% 1% 1%;
        }
        .profile-info {
          position: relative;
          width: 100%;
          text-align: center;
          margin: 2% 1% 1% 1%;

          label {
            display: block;
          }
        }
        .social {
          position: relative;
          margin: 10% 0 0 0;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);

          a {
            margin: 0 2% 0 2%;
          }
        }
      }

      &.bio {
        align-content: center;
        width: 60%;
        margin: 2% 2% 2% 1%;

        .bio-title {
          @include asap-bold();
          color: white;
          font-size: 2ch;
        }

      }
    }
  }
}
