
@import 'variables';
@import 'mixins';


.about {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 90%;
  padding: 2% 0 0 0;
  overflow-y: auto;
  float: none;
  color: $light-primary;
  text-decoration: none;
  align-content: center;
  opacity: 0;
  @include animation(1s, 2s, reveal-text, ease-in, forwards, 1);
  
  a {
    text-decoration: none;
  }
  .card {
    padding: 5% 5% 5% 5%;
    margin: 2% 5% 5% 5%;
  }

  .title {
    position: relative;
    @include asap-bold();
    color: $light-primary;
    font-size: 3ch;
    margin: 0 0 0 5%;
  }
  .content {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;

    .profile-header {
      position: relative;
      width: 40%;
      &.card {
        // padding: 2% 2% 2% 2%;
        margin: 0 2% 0 5%;
        padding: 2% 1% 1% 1%;
      }

      .photo {
        border-radius: 50%;
        width: 60%;
        padding: 1% 1% 1% 1%;
      }
      .profile-info {
        position: relative;
        width: 100%;
        text-align: center;

        label {
          color: $light-secondary;
          display: block;
        }
      }
      .social {
        position: relative;
        margin: 5% 0 0 0;
        @include center();

        a {
          margin: 0 2% 0 2%;
        }
      }
    }

    .bio {
      align-content: center;
      width: 60%;
      // margin: 2% 2% 2% 1%;
      &.card {
        // padding: 2% 2% 2% 2%;
        margin: 0 5% 0 2%;
        padding: 2% 1% 1% 1%;
      }

      .bio-title {
        @include asap-bold();
        color: $light-primary;
        font-size: 2ch;
      }
    }
  }
}
