
@import 'variables';
@import 'mixins';



.blog {
  position: relative;
  background-color: yellow;
  float: right;
  width: 82%;
  height: 100%;
  text-align: center;
  overflow: hidden;

  .links {
    display: block;
  }

  .post {

  }
}

@media (min-width: 1200px) {
  .blog {
    width: 100%;
  }
}