
@import 'variables';
@import 'mixins';



.blog {
  position: relative;
  float: right;
  width: $page-width;
  height: 100%;
  text-align: center;
  overflow: hidden;

  .card {
    background-color: $dark-secondary-transparent;
    height: 40%;
    margin: 20% 5% 20% 5%;
  }
  .card>.links {
    display: block;
  }

  .card>.post {
  }
}

@media (min-width: 1200px) {
  .blog {
    width: 100%;
  }
}