
@import 'variables';
@import 'mixins';

.card {
  display: block;
  background-color: $dark-tertiary-transparent;
  padding: 10% 10% 10% 10%;
  border-radius: .5ch;

  @include box-shadow();

  @keyframes reveal-card {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 1200px) {
  .card {
    margin: 5% 5% 5% 5%;
    padding: 5% 5% 5% 5%;

    input {
      position: relative;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
  }
}