
@import 'variables';
@import 'mixins';


.circle-container {
  position: absolute;
  float: right;
  width: 50%;
}

.chart {
  // margin: 10px auto;
  // max-width: 70%;
  // max-height: 250px;
  width: 100%;
  &.blue {
    stroke: #6AB6FF;
  }
  &.purple {
    stroke: #8E7CFF;
  }
  &.red {
    stroke: #FF7F95;
  }
  &.orange {
    stroke: #FBB03B;
  }
  &.green {
    stroke: #96FFD6;
  }
}

.background-circle {
  margin: 5em;
  fill: none;
  stroke: #111116;
  stroke-width: 2.8;
}

.circle {
  visibility: hidden;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  &.active {
    @include animation(.5s, 1s, progress, ease-out, forwards, 1);
  }
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
  stroke: none;
}

@include keyframes(progress) {
  0% {
    visibility: visible;
    stroke-dasharray: 0 100;
  }
  100% {
    visibility: visible;
  }
}

@media (min-width: 1200px) {
    .circle-container {
        justify-content: space-around ;
    }
}
