
@import 'variables';
@import 'mixins';


.header {
  top: 0;
  height: 0;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  // background: -moz-linear-gradient(top, #3E454B 0%, #111116 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, #3E454B 0%,#111116 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, rgb(43, 46, 49) 0%,#111116 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  background: #111116;
  opacity: 50%;
  box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  .links {
    position: relative;
    height: 100%;
    left: 70%;
    .link {
      position: relative;
      top: 40%;
      color: white;
      text-decoration: none;
      display: inline;
      padding: 10% 5% 0 0;
    }
  }
}

.drop-animation {
  animation: drop 1.5s ease-in forwards;
  -webkit-animation: drop 1.5s ease-in forwards; 
  -moz-animation: drop 1.5s ease-in forwards; 
  -ms-animation: drop 1.5s ease-in forwards; 
}







// ANIMATIONS
/////////////////////////////////////////

// slide ////////////////////////////////
@keyframes drop {
  0% {height: 0;}
  90% {height: 12%;}
  100% {height: 15%;}
}

@-moz-keyframes drop {
  0% {height: 0;}
  90% {height: 12%;}
 100% {height: 20%;}
}
@-webkit-keyframes drop {
  0% {height: 0;}
  90% {height: 12%;}
  100% {height: 15%;}
}
@-ms-keyframes drop {
  0% {height: 0;}
  90% {height: 12%;}
  100% {height: 15%;}
}

@media (min-width: 1600px) {
  .header {
    top: 0;
    height: 0;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    // background: -moz-linear-gradient(top, #3E454B 0%, #111116 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, #3E454B 0%,#111116 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgb(43, 46, 49) 0%,#111116 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    background: #111116;
    opacity: 50%;
    box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
    .links {
      position: relative;
      height: 100%;
      left: 70%;
      .link {
        position: relative;
        top: 40%;
        color: white;
        text-decoration: none;
        display: inline;
        padding: 10% 5% 0 0;
      }
    }
  }

  .drop-animation {
    animation: drop 1.5s ease-in forwards;
    -webkit-animation: drop 1.5s ease-in forwards; 
    -moz-animation: drop 1.5s ease-in forwards; 
    -ms-animation: drop 1.5s ease-in forwards; 
  }






  // ANIMATIONS
  /////////////////////////////////////////

  // slide ////////////////////////////////
  @keyframes drop {
    0% {height: 0;}
    90% {height: 7%;}
    100% {height: 10%;}
  }

  @-moz-keyframes drop {
    0% {height: 0;}
    90% {height: 7%;}
    100% {height: 10%;}
  }
  @-webkit-keyframes drop {
    0% {height: 0;}
    90% {height: 7%;}
    100% {height: 10%;}
  }
  @-ms-keyframes drop {
    0% {height: 0;}
    90% {height: 7%;}
    100% {height: 10%;}
  }
}