
@import 'variables';
@import 'mixins';

.home {
  // background-color: $dark-primary;
    // position: absolute;
  z-index: 3;
  height: 100%;
  width: 82%;

  @include keyframes(pop) {
    0% {
    }
    50% {
      transform: translateY(+30px);
    }
    100% {
      transform: translateY(-30px);
    }
  }
}