
@import 'variables';
@import 'mixins';

.home {
  display: flex;
  flex-direction: column;
  background-color: $dark-primary;

  .lines {
    span {
        height: 10px;
        border-radius: 3px 0 0 3px;
        &.one {
        width: 40px;
        }
    }
  }
}