
@import 'variables';
@import 'mixins';

.home {
  // background-color: $dark-primary;
  float: right;
  z-index: 1;
  height: 100%;
  width: 82%;

  .segments {
    padding: 2.5% 2.5% 2.5% 2.5%;
    width: 95%;
    height: 95%;
    z-index: 2;

    .line {
      left: 50%;
      background: white;
      width: 5%;
      height: 2%;
      border-radius: 10ch;
    }
    .line:hover {
      @include animation(0, .5s, pop, ease-in);
    }
    .first {
      left: 0;
    }
  }

  @include keyframes(pop) {
    0% {
    }
    100% {
      transform: translateY(30px);
    }
  }
}