
@import 'variables';
@import 'mixins';

.overlay {
  display: flex;
  opacity: 100%;
  z-index: 4;

  .landing {
    // background-color: #111116;
    background-color: $dark-primary;
    position: relative;
    display: flex;
    z-index: 2;
    overflow: hidden;
  }
  .logo {
    @include animation(0, 1.5s, bounce, ease-out, infinite);
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}
.dissolve {
  display: flex;
  opacity: 100%;
  z-index: 4;

  .landing {
    @include animation(0, 3s, fade-stars, ease-out);
  }
  .logo {
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    @include animation(0, 2s, fade-logo, ease-out);
  }
}



.invisible {
  opacity: 0;
  width: 0;
}

@include keyframes(fade-logo) {
  0% {
    position: absolute;
    transform: scale(1);
    opacity: .4;
    z-index: 3;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    transform: scale(0.5);
    opacity: 0;
    visibility: none;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}
@include keyframes(fade-stars) {
  0% {
    transform: scale(1);
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    transform: scale(0);
    opacity: 0.0;
    visibility: none;
  }

  @include keyframes(bounce) {
    0% {
      transform: translate(0, 0);
    }
    33% {
      transform: translate(0, 50px);
    }
    66% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 50px);
    }
  }
}

