
@import 'variables';
@import 'mixins';


.overlay {
  opacity: 100%;
  z-index: 4;
  position: absolute;
  overflow: hidden;

  .logo {
    position: absolute;
    width: 80%;
    top: 45%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;

    .letter {
      box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
    }
  }
}
.dissolve {
  overflow: hidden;
  opacity: 100%;
  position: absolute;
  z-index: 4;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;

  .shape-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    @include animation(.5s, 1.5s, fade, ease-out);


    .logo {
      position: absolute;
      width: 80%;
      top: 45%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      overflow: hidden;
      // @include animation(1s, 2s, fade-logo, ease-out);

      .letter {
        box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
}

@include keyframes(fade) {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: scale(.5);
    opacity: 0;
    visibility: none;
  }
}

@include keyframes(bounce) {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


@media (min-width: 1200px) {
  @for $i from 1 through 50 {
      $shape-size: 100 + random(10);
      $rotation: random(360);
      $speed: 50 + random(10);
      
      @keyframes shape-#{$i} {
          0% {
              transform: translate3d(0,0,0) rotate(#{$rotation + 0}deg);
          }
          100% {
              transform: translate3d(0,0,0) rotate(#{$rotation + 360}deg);
          }
      }
    
      .shape-container--#{$i} { 
          animation: shape-#{$i} #{$speed}s linear infinite;

          .random-shape:after {
              margin: #{$shape-size}rem;
          }
      }
  }
}