
@import 'variables';
@import 'mixins';
@import 'card';


.overlay {
  .main {
    height: 100%;
    width: 100%;
    .routes {
      display: none;
    }
  }
}

@keyframes reveal-text {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}

.main {
  // background-color: #111116;
  background-color: transparent;
  position: absolute;
  top: 0;
  float: right;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  .routes {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow-y: auto;
    /* width */
    scrollbar-width: thin;
    scrollbar-color: $dark-tertiary;

  ::-webkit-scrollbar {
    width: 2px;
  }
  }

  .shape {
    @include animation(1s, 1s, popdrop, ease-in-out, forwards, 1);
  }

  .shape:hover {
    @include animation(.5s, 1s, pop, ease-in-out, forwards, 1);
  }

}



@media (min-width: 1200px) {
  .main {
    float: none;
    width: 100%;

    .shape-background {
      position: absolute;
      width: 98%;
      height: 100%;
      overflow: hidden;
      z-index: 2;
    }

  }

  @for $i from 1 through 50 {
      $rotation: random(360);
      $speed: 100 + random(10);
      
      @keyframes shape-#{$i} {
          0% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 0}deg);
          }
          100% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 360}deg);
          }
      }
    
      .shape-container--#{$i} { 
        @include animation(0, shape-#{$i}, #{$speed}s, linear, forwards, infinite);
        // animation: shape-#{$i} #{$speed}s linear infinite;
      }
  }

}

@media (min-width: 1200px) {
  .main {
    position: relative;
  }
}