
@import 'variables';
@import 'mixins';


@keyframes reveal-text {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
}

.main {
  // background-color: #111116;
  background-color: transparent;
  position: absolute;
  float: right;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  .shape {
    @include animation(1s, 1s, popdrop, ease-in-out);
  }

  .shape:hover {
    @include animation(.5s, 1s, pop, ease-in-out, forwards);
  }

}



@media (min-width: 1200px) {
  .main {
    float: none;
    width: 100%;

    .shape-background {
      position: absolute;
      width: 98%;
      height: 100%;
      overflow: hidden;
      z-index: 2;
    }

  }

  @for $i from 1 through 50 {
      $rotation: random(360);
      $speed: 100 + random(10);
      
      @keyframes shape-#{$i} {
          0% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 0}deg);
          }
          100% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 360}deg);
          }
      }
    
      .shape-container--#{$i} { 
        @include animation(0, shape-#{$i}, #{$speed}s, linear, infinite)
        // animation: shape-#{$i} #{$speed}s linear infinite;
      }
  }

}