
@mixin animation($delay, $duration, $animation, $direction: forwards, $fillmode: forwards) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;

    -ms-animation-delay: $delay;
    -ms-animation-duration: $duration;
    -ms-animation-name: $animation;
    -ms-animation-fill-mode: $fillmode;
    -ms-animation-direction: $direction;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
}

@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin center() {
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@keyframes load{
    0%{stroke-dashoffset:0}}
@mixin progress-circle($data-name, $data-percent) {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &div {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #93A2AC;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;
        &:before {
            content: $data-name;
            position: absolute;
            width: 100%;
            bottom: -2rem;
            font-weight:400;
        }
        &:after {
            content: $data-percent;
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    }
    svg {
        width: 10rem;
        height: 10rem;
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 25;
            stroke-dasharray: 629;
            stroke: #fff;
            opacity:.9;
            animation: load 1s;
        }
    }
}
