
@mixin animation($delay, $duration, $animation, $direction: forwards, $fillmode: forwards, $iterationCount: 1) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;
    -webkit-animation-iteration-count: $iterationCount;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;
    -moz-animation-iteration-count: $iterationCount;

    -ms-animation-delay: $delay;
    -ms-animation-duration: $duration;
    -ms-animation-name: $animation;
    -ms-animation-fill-mode: $fillmode;
    -ms-animation-direction: $direction;
    -ms-animation-iteration-count: $iterationCount;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
    animation-iteration-count: $iterationCount;
}

@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-ms-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}
// @mixin scrollbar($width: 8px, $tab-color: white, $tab-hover-color: blue, $track-color: #f1f1f1) {
//     ::-webkit-scrollbar {
//         width: $width;
//     }

//     /* Track */
//     ::-webkit-scrollbar-track {
//     background: $track-color;
//     }

//     /* Handle */
//     ::-webkit-scrollbar-thumb {
//     background: $tab-color;
//     }

//     /* Handle on hover */
//     ::-webkit-scrollbar-thumb:hover {
//     background: $hover-color;
//     }

//     /* up and down buttons */
//     ::-webkit-scrollbar-button {
//         visibility: hidden;
//     }
// }

@mixin center() {
    left: 50%;
    transform: translateX(-50%);
}
@mixin asap-reg() {
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: normal;
}
@mixin asap-bold() {
    font-family: 'Asap', 'Sans Serif';
    color: white;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,400');
@import url('https://fonts.googleapis.com/css?family=Rubik:700,900');
@import url('https://fonts.googleapis.com/css?family=Karla');

@keyframes load{
    0% {stroke-dashoffset:0}
    100% {stroke-dashoffset: 1}
}
@mixin progress-circle($data-name, $data-percent) {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &div {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #93A2AC;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;
        &:before {
            content: $data-name;
            position: absolute;
            width: 100%;
            bottom: -2rem;
            font-weight:400;
        }
        &:after {
            content: $data-percent;
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    }
    svg {
        width: 10rem;
        height: 10rem;
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 25;
            stroke-dasharray: 629;
            stroke: #fff;
            opacity:.9;
            animation: load 1s forwards;
        }
    }
}
