
@import 'variables';
@import 'mixins';

.projects {
  position: relative;
  background-color: transparent;
  float: right;
  z-index: 3;
  width: $page-width;
  height: 100%;
  text-align: center;
  overflow: hidden;

  .project-header {
    // font-family: 'Asap', sans-serif;
    // font-weight: bold;
    a {
      color: white;
      @include asap-bold();
      font-size: 3ch;
      text-decoration: none;
    }
  }
}