
@import 'variables';
@import 'mixins';

.projects {
  width: $page-width;

  .project-header {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    a {
      text-decoration: none;
      color: white;
    }
  }
}