
@import 'variables';
@import 'mixins';

.projects {
  position: relative;
  background-color: transparent;
  float: right;
  width: 82%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  .project {
    padding: 10% 10% 10% 10%;
    margin-top: 20px;
    color: white;

    .project-header {
      a {
        @include asap-bold();
        font-size: 3ch;
      }
      // font-family: 'Asap', sans-serif;
      // font-weight: bold;
    }
    a {
      color: white;
      text-decoration: none;
      @include asap-reg();
    }
  }
}

@media (min-width: 1200px) {
  .projects {
    width: 100%;
  }

}