
@import 'variables';
@import 'mixins';



.resume {
  position: relative;
  background-color: transparent;
  float: right;
  width: $page-width;
  height: 100%;

  .title {
    position: relative;
    text-align: center;
    font-size: 3ch;
    color: white;
    @include asap-bold();
  }

  .tech-skills {
    position: relative;
    opacity: 0;

    &.card {
      margin: 5% 5% 5% 5%;
    }
  }

  .tech-skills>.title {
    margin-bottom: 15%;
  }
  .tech-skills>.skill-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 10% 0 0 0;
    &.card {
      padding: 0 0 0 0;
    }
  }
  .tech-skills>.skill-container>.skill {
    position: relative;
    width: 40%;
  }
  .tech-skills>.skill-container>.skill>label {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include asap-reg();
    color: white;
  }
  .tech-skills>.skill-container>.circle-container {
    position: relative;
    width: 50%;
  }

  .tech-skills>button {
    width: 25%;
    height: 40%;
  }

  .experience {
    position: relative;
    opacity: 0;

    &.card {
      margin: 10% 5% 5% 5%;

      .card {
        margin: 10% 0 0 0;
      }
      .title {
        position: relative;
        @include asap-bold();
        color: white;
        font-size: 3ch;
        text-decoration: none;
        margin-bottom: 15%;
      }
      a {
        margin: 5% 0 5% 0;
        position: relative;
        @include asap-bold();
        color: white;
        font-size: 2ch;
        text-decoration: none;
      }
      .description {
        position: relative;
        @include asap-reg();
        color: white;
      }
    }
  }
  .education {
    position: relative;
    opacity: 0;

    &.card {
      margin: 10% 5% 5% 5%;

      .card {
        margin: 10% 0 0 0;
      }

      .title {
        position: relative;
        @include asap-bold();
        color: white;
        font-size: 3ch;
        text-decoration: none;
        margin-bottom: 15%;
      }
      a {
        position: relative;
        @include asap-bold();
        color: white;
        font-size: 2ch;
        text-decoration: none;
      }

      .card>.description {
        position: relative;
        @include asap-reg();
        color: white;
      }
    }
  }

  .download-btn {
    position: relative;
    opacity: 0;

    &.card {
      margin: 10% 5% 5% 5%;
    }
  }

  .download-btn>a>button {
    position: relative;
    text-align: center;
    @include animation(0, 2s, box-glow, alternate, none, infinite);
    border: 2px solid #26e9ff; 
    border-radius: .5ch;
    @include asap-reg();
    color: white;
    font-weight: normal;
    background-color: transparent;
    @include input-box-shadow();
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    height: 30px;
  }

  .active {
    @include animation(.25s, 3s, reveal-card, ease-in, forwards, 1);
  }
}


@media (min-width: 700px) {
  .resume {
    position: relative;
    float: right;
    background-color: transparent;
    height: 100%;
    width: $page-width;

    .tech-skills {
      width: 90%;

      .card {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
    }
  }

  @include keyframes(draw) {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
}

@media (min-width: 1200px) {
  .resume {
    height: 100%;
    width: 100%;
    float: none;
    overflow-y: auto;

    .right-container {
      position: relative;
      width: 60%;
      float: right;
    }

    .tech-skills {
      position: relative;
      width: 20%;

      &.card {
        padding: 5% 5% 5% 5%;
        margin: 5% 5% 5% 5%;
      }
    }

    .tech-skills>.title {
      margin-bottom: 10%;
    }
    .tech-skills>.skill-container {
      display: flex;
      flex-flow: row nowrap;
      margin: 5% 0 5% 0;
    }
    .tech-skills>.skill-container>.skill {
      position: relative;
      width: 40%;
    }
    .tech-skills>.skill-container>.skill>label {
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include asap-reg();
      color: white;
    }
    .tech-skills>.skill-container>.circle-container {
      position: relative;
    }

    .tech-skills>button {
      width: 25%;
      height: 40%;
    }

    .experience {
      position: relative;
      opacity: 0;
      width: 70%;

      &.card {
        padding: 5% 5% 5% 5%;
        margin: 5% 5% 5% 5%;

        .title {
          position: relative;
          @include asap-bold();
          color: white;
          font-size: 3ch;
          text-decoration: none;
          margin-bottom: 10%;
        }
        a {
          margin: 5% 0 5% 0;
          position: relative;
          @include asap-bold();
          color: white;
          font-size: 2ch;
          text-decoration: none;
        }
        .description {
          position: relative;
          @include asap-reg();
          color: white;
        }
        .card {
          padding: 5% 5% 5% 5%;
        }
      }
    }
    .education {
      position: relative;
      opacity: 0;

      &.card {
        padding: 5% 5% 5% 5%;
        margin-top: 5%;
        .title {
          position: relative;
          @include asap-bold();
          color: white;
          font-size: 3ch;
          text-decoration: none;
          margin-bottom: 10%;
        }
        a {
          position: relative;
          @include asap-bold();
          color: white;
          font-size: 2ch;
          text-decoration: none;
        }

        .card>.description {
          position: relative;
          @include asap-reg();
          color: white;
        }
      }
    }

    .download-btn {
      opacity: 0;
    }

    .download-btn>a>button {
      position: relative;
      text-align: center;
      @include animation(0, 2s, box-glow, alternate, none, infinite);
      border: 2px solid #26e9ff; 
      border-radius: .5ch;
      @include asap-reg();
      color: white;
      font-weight: normal;
      background-color: transparent;
      @include input-box-shadow();
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      height: 40px;
    }

    .active {
      @include animation(.25s, 3s, reveal-card, ease-in, forwards, 1);
    }
  }
}