
@import 'variables';
@import 'mixins';



.resume {
  position: relative;
  background-color: transparent;
  float: right;
  width: $page-width;
  height: 100%;
  padding: 5% 0 5% 0;
  opacity: 0;
  @include animation(.5s, 2s, reveal-text, ease-in, forwards, 1);

  .title {
    position: relative;
    font-size: 3ch;
    color: white;
    @include asap-bold();
    margin: 0  0 10% 5%;
  }

  .card {
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 10% 5%;
  }

  .tech-skills {
    position: relative;
    opacity: 0;

    &.card {
      padding: 5% 10% 5% 10%;
      margin: 5% 5% 10% 5%;
    }
  }

  .tech-skills>.title {
    position: relative;
    @include asap-bold();
    color: $light-primary;
    font-size: 2.5ch;
    text-decoration: none;
    margin: 0  0 10% 0;
  }
  .tech-skills>.skill-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 10% 0;
    &.card {
      padding: 0 0 0 10%;
    }
  }
  .tech-skills>.skill-container>.skill {
    position: relative;
    width: 40%;
  }
  .tech-skills>.skill-container>.skill>label {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include asap-reg();
    color: $light-secondary;
  }
  .tech-skills>.skill-container>.circle-container {
    position: relative;
    width: 50%;
  }

  .tech-skills>button {
    width: 25%;
    height: 40%;
  }

  .experience {
    position: relative;
    opacity: 0;

    &.card {
      // margin: 5% 5% 5% 5%;
      padding: 10% 10% 5% 10%;

      .card {
        margin: 0 0 10% 0;
      }
      .title {
        position: relative;
        @include asap-bold();
        color: $light-primary;
        font-size: 2.5ch;
        text-decoration: none;
        margin: 0 0 10% 0;
      }
      a {
        display: block;
        margin: 0 0 5% 0;
        @include asap-bold();
        color: $light-primary;
        font-size: 1.5ch;
        text-decoration: none;
      }
      .description {
        position: relative;
        @include asap-reg();
        font-size: 1.5ch;
        color: $light-secondary;
      }
    }
  }
  .education {
    position: relative;
    opacity: 0;

    &.card {
      margin: 5% 5% 5% 5%;
      padding: 10% 10% 5% 10%;

      .card {
        margin: 0 0 10% 0;
      }

      .title {
        position: relative;
        @include asap-bold();
        color: $light-primary;
        font-size: 2.5ch;
        text-decoration: none;
        margin: 0  0 10% 0;
      }
      a {
        position: relative;
        display: block;
        margin: 0 0 5% 0;
        @include asap-bold();
        color: $light-primary;
        font-size: 1.5ch;
        text-decoration: none;
      }

      .description {
        position: relative;
        @include asap-reg();
        color: $light-secondary;
        font-size: 1.5ch;
      }
    }
  }

  .download-btn {
    position: relative;
    opacity: 0;
  }

  .download-btn>a>button {
    position: relative;
    text-align: center;
    @include animation(0, 2s, box-glow, alternate, none, infinite);
    border: 2px solid #26e9ff; 
    border-radius: .5ch;
    @include asap-reg();
    color: $light-primary;
    font-weight: normal;
    background-color: transparent;
    @include input-box-shadow();
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    min-height: 30px;
    margin-bottom: 10%;
  }

  .active {
    @include animation(.25s, 3s, reveal-card, ease-in, forwards, 1);
  }
}

.desktop-content {
  display: none;
}
.mobile-content {
  display: block;
}


@media (min-width: 700px) {
  .resume {
    position: relative;
    float: right;
    background-color: transparent;
    height: 100%;
    width: $page-width;

    .tech-skills {
      width: 90%;

      .card {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
    }
  }

  @include keyframes(draw) {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
}

@media (min-width: 1200px) {
  .resume {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    float: none;
    padding: 2% 0 0 0;

    .card {
      padding: 0 0 0 0;
      margin: 2% 5% 5% 5%;
    }

    .title {
      position: relative;
      font-size: 3ch;
      color: $light-primary;
      margin: 0 0 0 5%;
      @include asap-bold();
    }

    .main-container {
      display: flex;
      flex-direction: row nowrap;
    }

    .right-container {
      width: 60%;
      flex-direction: column nowrap;
    }

    .tech-skills {
      position: relative;
      height: 100%;
      width: 20%;
      display: flex;
      flex-flow: column;

      &.card {
        margin: 5% 5% 5% 4%;
        padding: 2% 5% 2% 5%;
      }
    }

    .tech-skills>.title {
      margin-bottom: 12%;
      color: $light-primary;
    }
    .tech-skills>.skill-container {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 0 15% 0;
    }
    .tech-skills>.skill-container>.skill {
      position: relative;
      width: 40%;
    }
    .tech-skills>.skill-container>.skill>label {
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include asap-reg();
      color: $light-secondary;
      font-size: 2ch;
    }
    .tech-skills>.skill-container>.circle-container {
      position: relative;
    }

    .experience {
      position: relative;
      opacity: 0;

      &.card {
        margin: 5% 5% 5% 2%;
        // padding: 2% 5% 5% 5%;
        padding: 3% 7% 5% 7%;

        .title {
          position: relative;
          @include asap-bold();
          color: $light-primary;
          font-size: 2.5ch;
          text-decoration: none;
          margin: 0 0 5% 0;
        }
        a {
          position: relative;
          @include asap-bold();
          color: $light-primary;
          font-size: 2ch;
          text-decoration: none;
        }
        .description {
          position: relative;
          @include asap-reg();
          font-size: 1.75ch;
          color: $light-secondary;
        }
        .card {
          padding: 5% 5% 5% 5%;
          margin: 5% 2% 5% 2%;
        }
      }
    }
    .education {
      position: relative;
      opacity: 0;

      &.card {
        padding: 3% 7% 5% 7%;
        margin: 5% 5% 5% 2%;

        .title {
          position: relative;
          @include asap-bold();
          color: $light-primary;
          font-size: 2.5ch;
          text-decoration: none;
          margin: 0 0 5% 0;
        }
        a {
          position: relative;
          @include asap-bold();
          color: $light-primary;
          font-size: 2ch;
          text-decoration: none;
        }

        .description {
          position: relative;
          @include asap-reg();
          font-size: 1.75ch;
          color: $light-secondary;
        }

        .card {
          padding: 5% 5% 5% 5%;
          margin: 2% 2% 5% 2%;
        }
      }
    }

    .download-btn {
      opacity: 0;
    }

    .download-btn>a>button {
      position: relative;
      text-align: center;
      @include animation(0, 2s, box-glow, alternate, none, infinite);
      border: 2px solid #26e9ff; 
      border-radius: .5ch;
      @include asap-reg();
      font-size: 2ch;
      color: $light-primary;
      font-weight: normal;
      background-color: transparent;
      @include input-box-shadow();
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      height: 60px;
      width: 20%;
    }

    .active {
      @include animation(.25s, 3s, reveal-card, ease-in, forwards, 1);
    }
  }
  .mobile-content {
    display: none;
  }
  .desktop-content {
    display: block;
  }
}