
@import 'variables';
@import 'mixins';


.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.svg-wrapper {
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.border {
  position: absolute;
  stroke-dasharray: 0 3500;
  stroke-dashoffset: 1;
  stroke-width: 1px;
  // margin-top: 5%;
  fill: transparent;
  stroke: #19f6e8;
  @include animation(.5, 3s, draw, linear);
  z-index: 3;
}

@include keyframes(draw) {
  0% {
    stroke-width: 1px;
  }
  100% {
    stroke-width: 4px;
    stroke-dasharray: 3500 0;
    stroke-dashoffset: 1;
  }
}

.resume {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  rect {
    padding: 5 em;
  }

  .header {
    position: relative;
    @include center();
    margin-top: 50px;
    width: 90%;
    background: $blue1;
  }
  .objective {
    position: relative;
    @include center();
    width: 90%;
    background: $purple1;
  }
  .tech-skills {
    position: relative;
    @include center();
    width: 82%;
    left: 18%;
  }
  .experience {
    position: relative;
    @include center();
    width: 90%;
    background: $orange1;
  }
  .education {
    position: relative;
    @include center();
    width: 90%;
    background: $green1;
  }
  .divider {
    width: 100%;
    height: 10px;
    .top {
      top: 0;
      height: 50%;
      width: 100%;
      background-color: black;
    }
    .bottom {
      bottom: 0;
      height: 50%;
      width: 100%;
      background-color: white;
    }
  }
}


@media (min-width: 700px) {
  .flex-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .svg-wrapper {
    top: 60%;
    position: absolute;
    transform: translateY(-50%);
    // margin: 0 auto;
  }

  .shape {
    stroke-dasharray: 0 3500;
    stroke-dashoffset: 1;
    stroke-width: 1px;
    // margin-top: 5%;
    fill: transparent;
    stroke: #19f6e8;
    @include animation(.5, 3s, draw, linear);
  }

  @include keyframes(draw) {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }
}

@media (min-width: 1200px) {
  .flex-wrapper {
    display: flex;
    flex-flow: column nowrap;
  }
  .svg-wrapper {
    top: 60%;
    position: absolute;
    transform: translateY(-50%);
    // margin: 0 auto;
  }

  .shape {
    stroke-dasharray: 0 3500;
    stroke-dashoffset: 1;
    stroke-width: 1px;
    // margin-top: 5%;
    fill: transparent;
    stroke: #19f6e8;
    z-index: 3;
    @include animation(.5, 3s, draw, linear);
  }

  @include keyframes(draw) {
    0% {
      stroke-width: 1px;
    }
    100% {
      stroke-width: 4px;
      stroke-dasharray: 3500 0;
      stroke-dashoffset: 1;
    }
  }

  .resume {
    .tech-skills {
    }
  }
}