@import 'variables';
@import 'mixins';

.visible {
  display: block;
  overflow: hidden;
}

.sidenav {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #171717;
  width: 0;
  // background: #222629;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.75);


}
.init {
  @include animation(0, 1.5s, init, ease-in);
}
.open {
  width: 18%;
  @include animation(0, .5s, open, ease-in);
}
.close {
  @include animation(0, .75s, close, ease-in);
}

@include keyframes(init) {
  86% {width: 0;}
  93% {width: 20%;}
  96% {width: 16%;}
  100% {width: 18%;}
}
@include keyframes(open) {
  0% {width: 18%;}
  100% {width: 85%;}
}
@include keyframes(close) {
  0% {width: 85%;}
  100% {width: 18%;}
}
@include keyframes(fade) {
  0% {opacity: 1;}
  25% {opacity: .75;}
  50% {opacity: .5;}
  75% {opacity: .25;}
  100% {opacity: 0;}
}

.fade-content {
  @include animation(0, .5s, fade);
}



.header {
  top: 0;
  width: 100%;
  height: 40%;
  /* background: -webkit-linear-gradient(to bottom, #222222, #111116);
  background: -moz-linear-gradient(to bottom, #222222, #111116); 
  background: linear-gradient(to bottom, #222222, #111116); */
  .photo {
    width: 80%;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    // object-fit: cover;
  }

  .social {
    position: absolute;
    top: 50%;
    width: 100%;
    
    .github {
      position: absolute;
      width: 30%;
      left: 10%;
    }
    .linkedin {
      position: absolute;
      width: 40%;
      right: 10%;
    }
  }
}
.info {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

}

.link {
  font-size: 24pt;
  position: relative;
  display: block;
  color: white;
  width: 100%;
  height: 40%;
  background: $blue1;
  font-family: 'Asap', sans-serif;
}
#home-link {
  left: 20%;
  font-family: 'Asap', sans-serif;
  text-decoration: none;
  box-shadow: 6px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 10px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
#projects-link {
  left: 20%;
  font-family: 'Asap', sans-serif;
  text-decoration: none;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
#resume-link {
  left: 20%;
  font-family: 'Asap', sans-serif;
  text-decoration: none;
  box-shadow: 6px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 10px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}


.sidenav>ul {
  position: relative;
  width: 100%;
  /* margin-top: 88px; */
  /* padding: 0; */
}


.sidenav>ul>li>a {
  box-sizing: border-box;
  padding: 11px 22px;
  color: white;
  /* color: #222327; */
  display: block;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
  /* width: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%); */
}


.sidenav>ul>li>a:hover {
  background: rgba(0, 0, 0, 0.2);
}


#name {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  position: absolute;
  top: 30%;
  left: 25%;
}

#title {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 40%;
  left: 25%;
  overflow: hidden;
}

#location {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  width: 60%;
  overflow: hidden;
  top: 50%;
  left: 25%;
}

#links {
  // height: 40%;
  font-weight: bold;
  left: 0;
  font-size: 22px !important;
  top: 80%;
  width: 100%;
  /* left: 50%;
  right: 50%;
  transform: translate(-50%, -50%); */
}

#hamburger-button {
  display: block;
  width: 28px;
  height: 20px;
  position: sticky;
  top: 5%;
  left: 20px;
  z-index: 100;
}

#hamburger-button>span {
  background: white;
  position: absolute;
  border-radius: 10em;
  height: 20%;
  /* background: #222327; */
  top: 0px;
}
.close-button>span {
  position: absolute;
  border-radius: 10em;
  height: 20%;
  /* background: #222327; */
  top: 0px;
}

#hamburger-button>span:nth-child(1) { 
  width: 100%;
  top: 0;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

#hamburger-button>span:nth-child(2) {
  top: 50%;
  width: 95%;
  transition: all 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(3) {
  width: 95%;
  top: 50%;
  transition: all 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(4) {
  width: 70%;
  top: 100%;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

.close-button>span:nth-child(1) {
  top: 50% !important;
  width: 0% !important;
}

.close-button>span:nth-child(2) {
  top: 50% !important;
  transform: rotate(45deg) !important;
  box-shadow: unset !important;
}

.close-button>span:nth-child(3) {
  top: 50% !important;
  transform: rotate(-45deg) !important;
}
.close-button>span:nth-child(4) {
  top: 50% !important;
  width: 0% !important;
}

// ANIMATIONS
/////////////////////////////////////////

// slide ////////////////////////////////


















// TABLETS
@media (min-width: 750px) {
  .sidenav {

    .header {
      top: 0;
      width: 100%;
      height: 40%;
      /* background: -webkit-linear-gradient(to bottom, #222222, #111116);
      background: -moz-linear-gradient(to bottom, #222222, #111116); 
      background: linear-gradient(to bottom, #222222, #111116); */
      .photo {
        width: 60%;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        // object-fit: cover;
      }

      .social {
        position: absolute;
        top: 50%;
        width: 100%;
        
        .github {
        position: absolute;
          width: 30%;
          left: 10%;
        }
        .linkedin {
        position: absolute;
          width: 40%;
          right: 10%;
        }
      }
    }
    .info {
      position: absolute;
      top: 75%;
      height: 30%;
      width: 100%;

      .link {
        font-size: 32pt;
        color: white;
        width: 40%;
        padding: 50px;
        left: 15%;
        right: 50%;
        text-decoration: none;
        /* left: 50%; */

      }
    }
  }

  #hamburger-button {
    display: block;
    width: 28px;
    height: 20px;
    position: sticky;
    top: 5%;
    left: 25px;
    z-index: 100;
  }

  // ANIMATIONS
  /////////////////////////////////////////

  .init {
    @include animation(4s, 1s, init, ease-in);
  }
  .open {
    z-index: 2;
    height: 100%;
    @include animation(.25s, .5s, open, ease-in);
  }
  .close {
    height: 100%;
    @include animation(0, .25s, close, ease-in);
  }

  // init-nav ////////////////////////////////
  @include keyframes(init) {
    75% {width: 0;}
    87% {width: 9%;}
    94% {width: 6%;}
    100% {width: 8%;}
  }
  .fade-content {
    @include animation(0, .5s, fade);
  }

  // open-nav ////////////////////////////////
  @include keyframes(open) {
    0% {width: 8%;}
    100% {width: 85%;}
  }

  // close-nav ////////////////////////////////
  @include keyframes(close) {
    0% {width: 85%;}
    100% {width: 8%;}
  }
  @include keyframes(fade) {
    0% {opacity: 1;}
    25% {opacity: .75;}
    50% {opacity: .5;}
    75% {opacity: .25;}
    100% {opacity: 0;}
  }
}