
@import 'variables';
@import 'mixins';



.tech-skills {
  position: relative;
  background-color: transparent;
  float: right;
  width: 82%;
  height: 100%;
  text-align: center;

  .flex-wrapper {
    display: flex;
    flex-flow: column;

    .circle-container {
    }

    span {
      position: relative;
      width: 20%;
      height: 2px;
      background: grey;
    }
  }
}