

// main colors
$blue1: #005EFF;
$blue2: #3585FF;
$blue3: #6AB6FF;

$purple1: #4B24ED;
$purple2: #8E7CFF;

$red1: #FF2D2D;
$red2: #FF7F95;

$orange1: #FB7525;
$orange2: #FBB03B;

$green1: #13FF5C;
$green2: #96FFD6;

// background colors
$dark-primary: #191919;
$dark-secondary: #171717;

$light-primary: #F0EFED;
$light-secondary: #D6D4D5;

$element-primary: #1fb6c6;
$element-secondary: #32e597;

$element-primary-glow: #26e9ff;
$element-secondary-glow: #35ffa7;


// sidenavbar adjustments
$init-1: 0;
$init-2: 20%;
$init-3: 16%;
$init-4: 18%;
$init-delay: 1s;
$init-duration: 2s;

$open-1: 18%;
$open-2: 85%;
$open-delay: 0;
$open-duration: .5s;

$close-1: 85%;
$close-2: 18%;
$close-delay: 0;
$close-duration: .75s;

$fade-1: 1;
$fade-2: .5;
$fade-delay: 0;
$fade-duration: .5s;

$sidenavbar-width: 18%;
$page-width: 82%;

// shapes background
$number-of-elements: 50;
$speed-of-elements: 25;