

// main colors
$blue1: #005EFF;
$blue2: #3585FF;
$blue3: #6AB6FF;

$purple1: #4B24ED;
$purple2: #8E7CFF;

$red1: #FF2D2D;
$red2: #FF7F95;

$orange1: #FB7525;
$orange2: #FBB03B;

$green1: #13FF5C;
$green2: #96FFD6;

// background colors
$dark-primary: #191919;
$dark-secondary: #171717;

$light-primary: #F0EFED;
$light-secondary: #D6D4D5;